<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Invitation</title>
</head>

<body bgcolor="#8d8e90">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
	<tr>
    <td>
		<table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
			<tr>
				<td>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="61"></td>
							<td width="144"></a></td>
							<td width="393">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
									  <td height="46" align="right" valign="middle"></td>
									</tr>
									<tr>
									  <td height="30"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td align="center">
					<font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:36px; text-transform:uppercase">
						<strong>I N V I T A T I O N</strong>
					</font>
				</td>
			</tr>
			<tr>
				<td>
					<img src="cid:event@img.cid" />
				</td>
			</tr>
			<tr>
				<td>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="7%">&nbsp;</td>
							<td width="58%" align="left" valign="top">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td align="left" valign="top">
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td width="95%">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td height="35" align="left" valign="middle" style="border-bottom:2px dotted #000000">
																	<font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#000000; font-size:25px">
																		<strong><em><%= title %></em></strong>
																	</font>
																</td>
															</tr>
															<tr>
																<td align="left" valign="top">
																	<font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">
																		<%= content %>
																		<br/><br/>
																		Sincerely yours,
																		<br/>
																		<i><%= name %></i>
																	</font>
																</td>
															</tr>
														</table>
													</td>
													<td width="5%" style="border-right:2px dashed #95989a">&nbsp;</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
							<td width="35%" align="left" valign="top">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td width="82%" align="left" valign="top">
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td height="10"> </td>
												</tr>
												<tr>
													<td>
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td></td>
															</tr>
															<tr>
																<td>
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td width="12%">&nbsp;</td>
																			<td width="79%" bgcolor="#7bb40f">
																				<table width="100%" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td width="5%"></td>
																						<td width="90%" height="10"></td>
																						<td width="5%"></td>
																					</tr>
																					<tr>
																						<td>&nbsp;</td>
																						<td align="center">
																							<font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#ffffff; font-size:16px">
																								<strong><i>CONFIRM</i></strong>
																							</font>
																						</td>
																						<td>&nbsp;</td>
																					</tr>
																					<tr>
																						<td></td>
																						<td>
																							<table width="100%" border="0" cellspacing="0" cellpadding="0">
																								<tr>
																									<td height="5" style="border-bottom:1px solid #ffffff"></td>
																								</tr>
																								<tr>
																									<td height="5"></td>
																								</tr>
																							</table>
																						</td>
																						<td></td>
																					</tr>
																					<tr>
																						<td>&nbsp;</td>
																						<td align="left" valign="top">
																							<font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#ffffff; font-size:10px; font-weight: lighter;">
																								<i>To quick confirm for your representation, please click the following button.</i>
																								<font style="font-family:Verdana, Geneva, sans-serif; color:#ffffff; font-size:12px; line-height:20px">
																									<div style="margin: 5px; border: 1px solid white; text-align: center; background-color: white;">
																										<a href= "#" style="color:#7bb40f; text-decoration:none;">
																											<strong><em>☢⤙ join ⤚☢</em></strong>
																										</a>
																									</div>
																								</font>
																							</font>
																						</td>
																						<td>&nbsp;</td>
																					</tr>
																				</table>
																			</td>
																			<td width="9%" >&nbsp;</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<tr>
																<td>&nbsp;</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
										<td width="8%">&nbsp;</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr style="height:100px;">
				<td>
					<hr/>
				</td>
			</tr>
			<tr>
				<td align="center">
					<font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#231f20; font-size:8px">
						<strong>
							Event management
							<br/>ELCA Information Technology Ltd.
							<br/>Melody-2 Tower
							<br/>N1 Dien Bien Phu, Binh Thanh District, Ho Chi Minh City - Vietnam
							<br/>Tel: +84-8 / 3899 4740
							<br/><a href="https://www.elca.vn" style="color:#010203; text-decoration:none">https://www.elca.vn</a>
						</strong>
					</font>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
		</table>
	</td>
	</tr>
</table>
</body>
</html>
