<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link href="/stylesheets/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
  <link href="/stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css">
  <link href="/stylesheets/main.css" media="all" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' />
  <link rel="stylesheet" type="text/css" href="https:/fonts.googleapis.com/css?family=Oswald" />

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

</head>
<<<<<<< HEAD
<body style="margin: 10px;">
  <div class="ajde_evcal_calendar boxy box_3">
    {% block title %}
    <div class="event_header">
      <div id="evcal_head" class="calendar_header ">
        <p id="evcal_cur" class="evo_month_title" style="  color: #C6C6C6;  font-family: oswald, 'arial narrow';"></p>
        <p class="evo_arrows">
          <span id="evcal_prev" class="evcal_arrows evcal_btn_prev">
            <i class="fa fa-angle-left"></i>
          </span>
          <span id="evcal_next" class="evcal_arrows evcal_btn_next">
            <i class="fa fa-angle-right"></i>
          </span>
        </p>
      </div>

      <div class="eventon_sorting_section" style="display: block;">

        <div class="eventon_sort_line">
          <div class="evo_srt_sel">
            <a class="sin_val evcal_list_a" href="/events/myEvents"><p>My events</p></a>
          </div>
          <div class="clear"></div>
        </div>

        <div class="eventon_filter_line eventon_sort_line">
          <div class="evo_srt_sel">
            <a class="sin_val evcal_list_a" href="/events/top9Comments"><p>Top 9 events</p></a>
          </div>
=======
<body>
<style>
@media (min-width: 768px) {
  .container {
      width: 670px;
  }
}
@media (min-width: 992px) {
  .container {
      width: 670px;
  }
}
@media (min-width: 1200px) {
  .container {
      width: 870px;
  }
}
>>>>>>> 78d4d3843de892100002a11b7e44782916778143

.evcal_evdata_row .evcal_evdata_icons i, .evcal_evdata_row .evcal_evdata_custometa_icons i {
    color: #6B6B6B;
    font-size: 18px;
}

<<<<<<< HEAD
        <div class="eventon_filter_line eventon_sort_line">
          <div class="evo_srt_sel">
            <a class="sin_val evcal_list_a" href="/events/top9Comments"><p>Top 9 comments</p></a>
          </div>
          <div class="clear"></div>
        </div>
=======
.evcal_evdata_row .evcal_evdata_cell h3.evo_h3 {
    font-family: oswald, 'arial narrow';
}
>>>>>>> 78d4d3843de892100002a11b7e44782916778143

.form-control {
    display: block;
    width: 100%;
    height: 26px;
    padding: 6px 7px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.padb7 {
    padding-bottom: 7px;
}

</style>
  <div class="container ajde_evcal_calendar boxy box_3">
    {% block title %}
    {% endblock%}
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>