<md-dialog aria-label="Mango (Fruit)">
<form ng-cloak>
  
  <md-dialog-content>
  <div class="md-dialog-content">
    
    <h2>Todo detail</h2>
    <md-content layout-padding>
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs>
      <label>Text</label>
      <input ng-model="todo.text">
    </md-input-container>

    <md-input-container>
    <label>Enter date</label>
    <md-datepicker ng-model="todo.submissionDate"></md-datepicker>
  </md-input-container>
</div>
</md-content>
</div>
<md-button class="md-icon-button" ng-click="cancel()">
<md-icon aria-label="Close dialog"></md-icon>
</md-button>
</md-dialog-content>

</form>
</md-dialog>