{% extends 'layout.html' %}

{% block title %}
<div class="event_header">
  <div id="evcal_head" class="calendar_header ">
    <p id="evcal_cur" class="evo_month_title" style="  color: #C6C6C6;  font-family: oswald, 'arial narrow';">august, 2016</p>
    <p class="evo_arrows">
      <span id="evcal_prev" class="evcal_arrows evcal_btn_prev">
        <i class="fa fa-angle-left"></i>
      </span>
      <span id="evcal_next" class="evcal_arrows evcal_btn_next">
        <i class="fa fa-angle-right"></i>
      </span>
    </p>
  </div>

  <div class="eventon_sorting_section" style="display: block; height: 38px;">
    <div class="eventon_sort_line">
      <div class="evo_srt_sel">
        <p>Top 10 events</p>
      </div>

      <div class="clear"></div>
    </div>

    <div class="eventon_filter_line eventon_sort_line">
      <div class="evo_srt_sel">
        <p>Top 10 comments</p>
      </div>
      <div class="clear"></div>
    </div>

    <div class="eventon_filter_line">
      <div class="eventon_filter">
        <div class="eventon_sf_field">
          <p>Category:</p>
        </div>

        <div class="eventon_filter_selection">
          <p class="filtering_set_val">All</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>

  <div>

    <form class="navbar-form navbar-left" style="padding-left: 0px; margin-top: 0px; margin-bottom: 10px;">
      <span style="font-family: 'open sans'; margin-right: 5px; color: #B8B8B8; font-size: 12px;">QUICK SEARCH: </span>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="">
      </div>
      <i class="fa fa-search" style="color: #B8B8B8;"></i>
    </form>

    <div class="pull-right" style="margin-right: 10px;">
      <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#addNewEventModal">
        <i class="fa fa-edit"></i> New Event
      </a>
      <div class="modal fade" id="addNewEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form method="post" action="/events" class="form-inline">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add new event</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Event name</label>
                  <input type="text" name="name" class="form-control" required>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-default">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
{% endblock%}

{% block content %}

<div id="evcal_list" class="eventon_events_list ">
  {% for event in events %}

  <div class="eventon_list_event ">
    <p class="desc_trig_outter">
      <a class="sin_val evcal_list_a" href="/events/event/{{event.id}}">
        <span class="evcal_cblock ">
          <em class="evo_date">
            <span class="start">
              4
              <em>aug</em>
            </span>
          </em>
          <em class="evo_time">
            <span class="start">8:00 am</span>
            <span class="end">- 10:00 am</span>
          </em>
        </span>
        <span class="evcal_desc ">
          <span class="evcal_desc2 evcal_event_title event_name">{{event.name}}</span>
          <span class="evcal_desc_info">
            <em style="display: block; font-style: normal;">
              <i class="fa fa-bullhorn" aria-hidden="true" style="width: 15px;"></i>
              {{event._user.visa}}
            </em>

            <em style="display: block; font-style: normal;">
              <i class="fa fa-clock-o" aria-hidden="true" style="width: 15px;"></i>
              8:00 am - 10:00 am
            </em>

            <em style="display: block; font-style: normal; ">
              <i class="fa fa-map-marker" aria-hidden="true" style="padding-left: 1px; width: 14px;"></i>
              {{event.address}}
            </em>

            <em style="display: inline-block; font-style: normal; padding-right: 40px;">
              <i class="fa fa-group" aria-hidden="true" style="width: 15px;"></i>
              {{event.usercount}} people
            </em>

            <em style="display: inline-block; font-style: normal; ">
              <i class="fa fa-comments" aria-hidden="true" style="width: 15px;"></i>
              {{event.commentcount}} comments
            </em>

          </span>
        </span>
      </a>
    </p>
  </div>

  {% endfor %}
  <div class="clear"></div>
</div>

<script type="text/javascript">
  var COLORS = [
  '#e21400', '#91580f', '#f8a700', '#f78b00',
  '#58dc00', '#287b00', '#a8f07a', '#4ae8c4',
  '#3b88eb', '#3824aa', '#a700ff', '#d300e7'
  ];
  var hash = 7;
  $('.eventon_list_event').each(function(i) {
    var username = $('.event_name', this).html();
    for (var i = 0; i < username.length; i++) {
     hash = username.charCodeAt(i) + (hash << 5) - hash;
   }
    // Calculate color
    var index = Math.abs(hash % COLORS.length);
    $(this).css('background-color', COLORS[index]);
  });
</script>

{% endblock %}