{% extends 'layout.html' %}

{% block content %}
<div class="container">
<style>


</style>
	<input type="hidden" id="eventId" value="{{event.id}}">
	<input type="hidden" id="userId" value="{{userid}}">


	<div style="width: 650px; margin: 0 auto; padding-bottom: 40px;">
		<div class="evo_lightbox_body evo_pop_body ">
			<form method="post" action="/events/event/{{event.id}}?_method=PUT">
				<div class="evopop_top" style="border-left: 3px solid rgb(180, 118, 201);">

					<div style=" float:right; margin-right: 0px;">
		    			<img src="http://localhost:8080/icon/pizza.png" style="max-height: 65px; width: 65px;"/>
		    		</div>

					<span class="evcal_cblock " style="left: auto;">
						<em class="evo_date">
							<span class="start">
								29
								<em>sep</em>
							</span>
							<span class="end">
								- 3
								<em>oct</em>
							</span>
						</em>

						<em class="evo_time">
							<em class="evo_day">
								sep 29
							</em>
							<span class="start">1:00 am</span>
							<em class="evo_day end">oct 3</em>
						</em>

						<em class="clear"></em>
					</span>

					<span class="evcal_desc evo_info "  style="padding-right: 90px;">
						<!-- <span class="evcal_desc2">{{event.name}}</span> -->
						<input type="text" name="name" class="form-control" value="{{event.name}}" required>
						<span class="evcal_desc_info" style="margin-top: 5px;">
							<em style="margin-right: 5px;">
								<i class="fa fa-bullhorn" ></i>
								{{event._user.visa}}
							</em>
							<em style="margin-right: 5px;">
		    					<i class="fa fa-clock-o" ></i>
		    					(september 29) 1:00 am - (october 3) 8:00 pm
		    				</em>
		    				<em>
		    					<i class="fa fa-map-marker"></i>
		    					400 Southwest Kingston Avenue Portland, OR
		    				</em>
						</span>
						<span class="evcal_desc3"></span>
					</span>

					<em class="clear"></em>
				</div>

				<div class="evcal_evdata_row bordb evcal_event_details">
					<span class="evcal_evdata_icons">
						<i class="fa fa-align-justify"></i>
					</span>
					<div class="evcal_evdata_cell ">
						<div>
							<h3 class="padb7 evo_h3">Event Details</h3>
							<div class="eventon_desc_in">
								<!-- <p>{{event.content}}</p> -->
								<textarea name="content" class="form-control" rows="8" required>{{event.content}}</textarea>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>

				<div class="evo_metarow_time_location bordb ">
					<div class="tb">
						<div class="tbrow">
							<div class="evcal_col50 bordr">
								<div class="evcal_evdata_row evo_time"  style="height: 100px;">
									<span class="evcal_evdata_icons"><i class="fa fa-clock-o"></i></span>
									<div class="evcal_evdata_cell">
										<h3 class="padb7 evo_h3">Time</h3>
										<p>September 29 (Thursday) 1:00 am - October 3 (Monday) 8:00 pm</p>
									</div>
								</div>
							</div>
							<div class="evcal_col50">
								<div class="evcal_evdata_row evo_location" style="height: 100px;">
									<span class="evcal_evdata_icons"><i class="fa fa-map-marker"></i></span>
									<div class="evcal_evdata_cell" data-loc_tax_id="7">
										<h3 class="padb7 evo_h3">Location</h3>
										<!-- <p class="evo_location_name">Kngston Town</p> -->
										<!-- <p>{{event.address}}</p> -->
										<input id="pac-input" type="text" name="address" class="form-control" value="{{event.address}}" required>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="evcal_evdata_row bordb evcal_event_details" style="height: 300px; width: 100%; padding: 0px;">
					<div id="map"></div>
					<script>
						function initAutocomplete() {
							var map = new google.maps.Map(document.getElementById('map'), {
								center: {lat: 10.79845, lng: 106.7220053},
								zoom: 13,
								mapTypeId: 'roadmap'
							});

							var input = document.getElementById('pac-input');
							var searchBox = new google.maps.places.SearchBox(input);

							map.addListener('bounds_changed', function() {
								searchBox.setBounds(map.getBounds());
							});

							var markers = [];
							searchBox.addListener('places_changed', function() {
								var places = searchBox.getPlaces();

								if (places.length == 0) {
									return;
								}

								markers.forEach(function(marker) {
									marker.setMap(null);
								});
								markers = [];

								var bounds = new google.maps.LatLngBounds();
								places.forEach(function(place) {
									if (!place.geometry) {
										console.log("Returned place contains no geometry");
										return;
									}
									var icon = {
										url: place.icon,
										size: new google.maps.Size(71, 71),
										origin: new google.maps.Point(0, 0),
										anchor: new google.maps.Point(17, 34),
										scaledSize: new google.maps.Size(25, 25)
									};

									markers.push(new google.maps.Marker({
										map: map,
										icon: icon,
										title: place.name,
										position: place.geometry.location
									}));

									if (place.geometry.viewport) {
										bounds.union(place.geometry.viewport);
									} else {
										bounds.extend(place.geometry.location);
									}
								});
								map.fitBounds(bounds);
							});
						}
					</script>
					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN66QFaETYXOjp6fLUEGEwBeDixc2xX5A&libraries=places&callback=initAutocomplete"
					async defer>
				</script>
			</div>
			<div class="evcal_evdata_row evcal_event_details">
				<span class="evcal_evdata_icons">
					<i class="fa fa-align-justify"></i>
				</span>
				<div class="evcal_evdata_cell ">
					<div>
						<h3 class="padb7 evo_h3">{{comments.length}} Comments</h3>
					</div>
				</div>

				<div class="padb7">
					<textarea rows="3" class="form-control" placeholder="Type your comment here..."></textarea>
				</div>

				<button type="submit" class="btn btn-default">Post Comment</button>
				<button type="submit" class="btn btn-default">Update</button>
				<form method="post" action="/events/event/{{event.id}}?_method=DELETE" class="form-inline">
					<button type="submit" class="btn btn-default">Delete</button>
				</form>
			</div>
		</form>
<style>

.messages .img-container {
    background: #fff;
    overflow: hidden;
    padding: 6px;
    border: 1px solid #e5e5e5;
}

.messages .img-container {
    float: left;
    max-height: 42px;
    overflow: hidden;
    width: 42px;
}

.img-container img {
    max-width: 28px;
}

.message {
	margin-bottom: 15px;
    padding: 0;

}

.messageBody {
    position: relative;
    background: #fff;
    padding: 6px;
    margin-left: 60px;
    border: 1px solid #e5e5e5;
    font-size: 13px;
}
.messageDateTime {
	color: #3B5998;
}
</style>
		<div class="evcal_evdata_row bordb evcal_event_details" style="height: 300px; width: 100%; padding: 0px;">
			<ul class="pages">
				<li class="chat page">
					<div class="chatArea">
						<ul class="messages">
							{% for comment in comments %}
							<li class='message'>
								<!--span class='username'>{{comment._user.visa}}</span-->
								<div class="img-container">
									<img src="/icon/avatar.png">
								</div>

								<div class="messageBody">
									<div class="messageDateTime">
										14/10/2016, 10:00 am
									</div>
									{{comment.content}}
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</li>
			</ul>
		</div>

	</div>
</div>
</div>

{% endblock %}