{% extends 'layout.html' %}

{% block content %}

<div class="container">

  {% if message.length > 0  %}
  <div class="alert alert-danger">{{ message }}</div>
  {% endif %}

  <br>

  <form method="post" action="/login">
    <div class="form-group">
      <label>VISA: </label>
      <input type="text" name="visa" class="form-control" required value="vinh">
      <br>
      <label>Password: </label>
      <input type="password" name="password" class="form-control" required value="vinh">
    </div>
    <button type="submit" class="btn btn-default">LOGIN</button>
  </form>

</div>

{% endblock %}