/**
 * Primary Styles for EventON Calendar Front-end
 * @version		1.10
 * @updated 	2.3.23
 */
/*
/*-- transition --*/
#evcal_list .eventon_list_event .desc_trig, .evcal_evdata_img, .event_description .evcal_close, .evcal_btn, .evo_sort_btn, .calendar_header  .evcal_arrows, .desc_trig,
.ajde_evcal_calendar.boxy .eventon_list_event.hasbgimg::after,
.evcal_desc .evcal_desc3 em.evocmd_button {
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

/** General reusable styles **/
	.mart5{margin-top:5px} .mart10{margin-top:10px} .mart15{margin-top:15px} .mart20{margin-top:20px} .mart25{margin-top:25px} .mart30{margin-top:30px} .mart40{margin-top:40px} .mart50{margin-top:50px}
	.marb5{margin-bottom:5px} .marb10{margin-bottom:10px} .marb15{margin-bottom:15px} .marb20{margin-bottom:20px} .marb25{margin-bottom:25px} .marb30{margin-bottom:30px} .marb35{margin-bottom:35px} .marb40{margin-bottom:40px} .marb45{margin-bottom:45px} .marb50{margin-bottom:50px}
	.padb5{padding-bottom:5px} .padb10{padding-bottom:10px} .padb15{padding-bottom:15px} .padb20{padding-bottom:20px} .padb25{padding-bottom:25px} .padb30{padding-bottom:30px} .padb40{padding-bottom:40px} .padb50{padding-bottom:50px}
	.padt5{padding-top:5px} .padt10{padding-top:10px} .padt15{padding-top:15px} .padt20{padding-top:20px} .padt25{padding-top:25px} .padt30{padding-top:30px} .padt40{padding-top:40px} .padt50{padding-top:50px} .padt60{padding-top:60px}
	.pad5{padding:5px} .pad10{padding:10px} .pad15{padding:15px} .pad20{padding:20px} .pad25{padding:25px}

	.ttu{text-transform:uppercase}
	.tar{text-align:right}
	.tac{text-align:center}
	.wid33{width:33.3%}
	.wid66{width:66.6%}
	.fleft{float:left}

/*-- calendar general styles --*/
	.ajde_evcal_calendar {width:100%; text-align: left; white-space:normal; position: relative;}
	.ajde_evcal_calendar img, .evo_location_map img{ max-width:none; box-shadow:none!important}
	.ajde_evcal_calendar .gmnoprint img {max-width: none !important;}

	.ajde_evcal_calendar > *{margin:0; padding:0}
	.evcal_evdata_row .padt5{padding-top:5px;}
	.evcal_evdata_row .padb10{padding-bottom:10px;}
	.bordr{border-right:1px solid #cdcdcd}
	#evcal_list .bordb{border-bottom:1px solid #cdcdcd}
	.ajde_evcal_calendar a:hover{text-decoration:none}
	.ajde_evcal_calendar ul, #evcal_list{list-style:none !important; padding:0; margin:0 !important}
	.ajde_evcal_calendar .eventon_list_event{margin-left:0px; list-style:none;}	
	.ajde_evcal_calendar .calendar_header p, 
	.eventon_events_list .eventon_list_event .evcal_cblock{font-family:'arial narrow';	}
	.ajde_evcal_calendar strong{font-weight:normal }
	.ajde_evcal_calendar .eventon_desc_in strong{font-weight:bold }
	.eventon_desc_in img{max-width: 100%}

	.ajde_evcal_calendar .eventon_events_list p{
		font-family:'open sans',arial;
		padding:0;
		/*margin-bottom:2px !important; */
		margin-top:0px;
	}
	.ajde_evcal_calendar .eventon_events_list .evcal_month_line p{
		font-family: oswald, 'arial narrow';
	}

	/* event details text */
	.ajde_evcal_calendar .eventon_events_list .eventon_desc_in ul{
		font: normal 13px 'open sans',arial;
		padding-left: 15px;
		color: #656565;
	}
	.ajde_evcal_calendar .eventon_list_event  .desc_trig_outter, .eventon_events_list .desc_trig_outter, .desc_trig_outter a.evcal_list_a{margin: 0;}
	
	/* general Fonts */
	body .ajde_evcal_calendar h4.evo_h4, .evo_content_in h4.evo_h4{
		color: #656565;
		padding: 0px;
	    font-size: 14px;
	    font-style: normal;
	    font-family: oswald, 'arial narrow';
	    margin: 0;
	    text-transform: uppercase;
	    font-weight: normal;
	}
	
/** eventON Button **/
	.ajde_evcal_calendar .eventon_list_event .event_description .evcal_btn, .evo_pop_body .evcal_btn{	
		font:bold 14px arial;
		display:inline-block;
		padding:8px 12px!important; margin-top:4px;
		text-transform:uppercase;
		text-decoration: none;
		border-radius: 4px;
		border:none;
	}
	.ajde_evcal_calendar .eventon_list_event .event_description .evcal_btn:hover, .evo_pop_body .evcal_btn:hover{
		opacity:0.8
	}
	.eventon_list_event .evo_btn_secondary, .evo_btn_secondary{
		color:#fff;
		font:bold 14px arial;
		display:inline-block;
		padding:3px 8px!important; margin-top:4px;
		text-transform:uppercase;
		background-color:#d2d2d2;
		cursor:pointer;
	}
	.eventon_list_event .evo_btn_secondary:hover, .evo_btn_secondary:hover{background-color:#bebebe; text-decoration:none}

/*-- event calendar head --*/
	.ajde_evcal_calendar .calendar_header{ 
		min-height:37px;
		padding:0px; 
		margin:5px 0 4px;
		position:relative;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.ajde_evcal_calendar .evo_layout_changer{
		position: absolute;
		right: 0; z-index: 3;
	}
	.ajde_evcal_calendar .evo_layout_changer i{margin-left: 5px; opacity: 0.3;cursor: pointer;}
	.ajde_evcal_calendar .evo_layout_changer i:hover{opacity: 0.5;}
	.ajde_evcal_calendar .evo_layout_changer i.on{opacity: 0.7;}

	.ajde_evcal_calendar.ul .calendar_header{min-height:0; margin: 0;}

	.ajde_evcal_calendar #evcal_prev{ margin-left: 15px;}
	/*.ajde_evcal_calendar #evcal_prev .fa{ margin-left: -6px;}*/
	.ajde_evcal_calendar #evcal_next{margin-left: 7px;}
	/*.ajde_evcal_calendar #evcal_next .fa{margin-left: -4px;}*/
	.ajde_evcal_calendar a#evcal_prev:hover{background-position:-5px -17px}
	.ajde_evcal_calendar a#evcal_next:hover{background-position:-20px -17px}
	.ajde_evcal_calendar .calendar_header p{
		height:36px;line-height:36px;
		margin:0 !important;font-size:36px;
		font-weight:normal;
		float:left; color:#c6c6c6;
		text-transform:uppercase; 
		padding-top:1px; padding-bottom:0px;
		width: auto;
	}
	.ajde_evcal_calendar .calendar_header .evcal_arrows .fa{
		font-size: 24px;
		margin-top:4px;
		position: absolute;
		left:12px;
	}
	.ajde_evcal_calendar .calendar_header .evcal_arrows:hover .fa{color: #fff}
	.ajde_evcal_calendar .calendar_header .evcal_arrows{
		text-align: center;
		float:left;
		height:35px; 
		width:35px;
		display:block; 
		cursor:pointer;
		border:1px solid #e2e2e2;
		border-radius: 50%;
		color: #e2e2e2;
		position: relative;
	}
	.ajde_evcal_calendar .calendar_header p.evo_arrows{float: left;	}
	.ajde_evcal_calendar .calendar_header p.evo_arrows.right{float: right;	}
	.ajde_evcal_calendar .calendar_header .evcal_arrows:hover{background-color: #e2e2e2;}

/* tool tips */
	.evomb_section .evoGuideCall{
		padding:0;
		font-style:normal
	}
	#ajde_customization .evoGuideCall{
		cursor: pointer;
		padding:0;
		display:inline-block;
		background-color:#9d9d9d;
		border-color:#9d9d9d;
		color:#fff;
	}

	.evoGuideCall{
		padding: 0;
		margin-left:4px;
		text-align: center;
		background-color: #9d9d9d;
		font-style: normal;
		position: absolute;
		cursor: pointer;
		width: 13px;
		height: 14px;
		line-height: 110%;
		border: 1px solid #9d9d9d;
		opacity: 0.4;
		font:11px 'times new roman';
		border-radius:3px;
		color:#fff;
	}
	.evoGuideCall:hover{
		opacity:1; background-color:#828282;
	}
	.evoGuideCall:hover em{display:block}
	.evoGuideCall em{
		font:11px 'open sans';
		display:none;
		position: absolute;
		left: -1px;
		width: 200px;
		background-color: #487e8a;
		border-radius: 5px;
		color: #fff;
		padding: 8px;
		bottom: 22px;
		z-index: 900;
		text-align:center
	}
	.evoGuideCall em a{color:#fff}
	.evoGuideCall.L em{
		right:-1px;
		left:auto;
	}
	.evoGuideCall em:before{
		content: "";
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 9px 9px 0 0;
		border-color: #487e8a transparent transparent transparent;
		position: absolute;
		bottom: -9px;
		left: 5px;
	}
	.evoGuideCall.L em:before{
		left:auto;
		right:5px;
		border-width: 0 9px 9px 0 ;
		border-color: transparent #487e8a transparent  transparent;
	}
	.evomb_header p span.evoGuideCall{
		color:#fff;
	}

/* Jumper */
	.evo-jumper{margin-bottom: 5px; position: relative;}
	.evo_cal_above{padding-bottom: 5px;}
	.evo_cal_above span{
		opacity: 0.4;
		background-color: #ADADAD;
		color: #fff;
		font-family: 'open sans','arial';
		font-size: 12px;
		text-transform: uppercase;
		display: inline-block;
		padding: 1px 4px;
		border-radius: 4px;
		cursor: pointer;
		font-style: italic;
		margin-right: 4px;
	}
	.evo_cal_above span:hover{opacity: 1;}	
	.evo_j_container{
		padding-top: 0px; padding-bottom: 8px; margin: 0;
	}
	.ajde_evcal_calendar .calendar_header .evo_j_dates p.legend{
		text-transform: uppercase;
		color: #6e6e6e;
		font-size: 12px;
		padding:0px; padding-left: 0;
		background-color: transparent;
	}
	.ajde_evcal_calendar .calendar_header .evo_j_dates p{
		font-size: 12px;
		font-family: 'open sans';
		color: #5d5d5d;
		padding: 7px 12px;
		line-height: 100%;
		height: auto;			
		color: #fff;
		
	}
	.ajde_evcal_calendar .calendar_header .evo_j_dates p a:hover{
		background-color: #c3c3c3;
	}.ajde_evcal_calendar .calendar_header .evo_j_dates p a.current{
		background-color: #CFCFCF;
	}.ajde_evcal_calendar .calendar_header .evo_j_dates p a.set{
		background-color: #888888;
	}
	.ajde_evcal_calendar .calendar_header .evo_j_dates p a{
		background-color: #ECECEC;
		padding:4px;
		border-radius: 4px;	
		display: inline-block;
		cursor: pointer;
		color: #fff;
		min-width: 19px;
		margin-bottom: 2px;
		margin-right: 3px;
		font-size: 12px; text-align: center;
	}
	.ajde_evcal_calendar .calendar_header .evo_j_dates.evo_j_years p a{width: auto;}
	
	/* widget */
		#evcal_widget .ajde_evcal_calendar .calendar_header .evo_j_dates p{
			font-size: 10px;}
		#evcal_widget #evcal_head .evo_j_dates p a{
			padding:4px;
			font-size:9px;
			min-width: 15px
		}
		#evcal_widget .event_description .evo_metarow_time_location .evcal_col50{
			display: block; width: 100%;
			border-right:none;
		}

/*-- sort bar --*/
	.eventon_sorting_section{
		margin:5px 0;
		padding:8px 0 7px;
		border-top:1px solid #F0F0F0;
		border-bottom:1px solid #F0F0F0;
	}
	.eventon_sort_line p, .eventon_filter_line p{
		font-family:'open sans';
	}
	
	.eventon_sort_line .evs, .eventon_sort_line .evs_3 p, .eventon_sf_field, .eventon_filter_selection{
		float:left; margin-right:5px;
		position:relative;
	}
	
	.eventon_sort_line .eventon_sf_cur_val, .eventon_sort_line .evs_3, .evs_sec_list p{cursor:pointer;}
	.eventon_sort_line .eventon_sf_cur_val p, .eventon_filter_line .filtering_set_val{color:#606060}
	.eventon_sort_line .evs_3 p:hover{color:#b8b8b8}
	.eventon_sort_line .eventon_sortbar_selection .evs_hide{display:none}
	.eventon_sort_line .eventon_sortval_for_dropdown, .eventon_filter_line .filtering_set_val, .eventon_sort_line .eventon_sf_cur_val p{
		cursor:pointer;
		/*background:url(../images/select_icon.png) center right no-repeat;*/
		background-color:#bbbbbb;
		padding:1px 6px;
		border-radius:4px;
		color:#fff;
		font-style: italic;
	}
	.eventon_filter_line .filtering_set_val i.fa{margin-right: 5px;}
	.eventon_filter_line .filtering_set_val:hover{background-color: #a5a5a5;}
	.eventon_filter_line .eventon_sf_field p{padding:1px 0;}
	
	.eventon_sort_line p, .eventon_filter_line p, .eventon_sf_field p{
		color:#B8B8B8;
		padding:0; margin:0; 
		text-transform:uppercase; font-size:12px;
	}
	
	
	.eventon_filter_dropdown{
		position:absolute;
		margin-top: 5px;
		background-color:#fff; 
		border:1px solid #d9d9d9;
		z-index:500;
		-webkit-box-shadow:  0px 0px  3px #d9d9d9;        
	    box-shadow:  0px 0px  3px #d9d9d9;
	    border-radius:4px;
	    overflow: none;
	    min-width: 150px
	}
	.eventon_filter_dropdown p{
		border-bottom:1px solid #d9d9d9;
		padding:5px;
		line-height:130%;
		margin:0;
		cursor:pointer;
		display:block;
		border-left:2px solid transparent;
		color: #929292;
		position: relative;
	}
	.eventon_filter_dropdown p:hover{
		background-color:#f7f7f7;
		color:#606060;
		border-left-color:#C7C7C7;
	}
	.eventon_filter_dropdown p.has_icon{padding-left: 30px;}
	.eventon_filter_dropdown p i.fa{display: block; position: absolute; left: 5px;	}

	.ajde_evcal_calendar .evo_sort_btn{
		height:15px; width:auto;
		font-family: 'open sans';
		font-style: italic;
		font-size:12px;
		text-transform:uppercase;
		cursor:pointer;
		border-bottom:none;
	}

	.eventon_filter_line.selecttype .eventon_filter .eventon_sf_field p{display: none;}
	.eventon_filter_line.selecttype .eventon_filter .eventon_filter_selection{margin: 0;}
	.eventon_filter_line.selecttype .eventon_filter{margin-right: 5px;}
	.eventon_sorting_section p.evo_filter_submit{
		margin: 0;
		color: #ffffff;
    	background-color: #237dbd;
    	padding: 1px 8px;
   		border-radius: 5px;
   		cursor: pointer;
    	display: block; float: left;
    	font-size: 11px;
    	text-transform: uppercase;

	}


	/* 2.2.10 */
		.ajde_evcal_calendar .eventon_sort_line{
			padding-top: 1px;
			padding-bottom: 1px;
			padding-right: 10px;
			float: left;
		}
		.evo_sortby{
			display: block;
			float: left;
			margin-right: 10px;			
		}
		.evo_srt_sel{
			position: relative;
			display: block;
			float: left;					
		}
		.evo_srt_sel p.fa:after{
			content:"\f0d7";
			position: absolute;
			top: 2px;
			right: 0;
			color: #B6B6B6;
			font-size: 12px;
			font-family: evo_FontAwesome;
		}
		.evo_srt_sel p.fa{
			cursor: pointer;
			position: relative;
			line-height: normal;
			padding-right: 13px;
			display: inherit;
		}
		.evo_srt_sel p.fa.onlyone{cursor: default;}
		.evo_srt_sel p.fa.onlyone:after{content:"";}
		.evo_srt_options{
			display: none;
			position: absolute;
			border: 1px solid #d9d9d9;
			background-color: #fff;
			z-index: 800;
			-webkit-box-shadow: 0px 0px 3px #d9d9d9;
			box-shadow: 0px 0px 3px #d9d9d9;
			border-radius: 4px;
			margin-top: 5px;
		}
		.evo_srt_options p{	
			border-bottom: 1px solid #d9d9d9;
			border-left:2px solid transparent;
			padding: 5px;
			line-height: 100%;
			margin: 0;
			cursor: pointer;
			display: block;
		}
		.evo_srt_options p.evs_hide, .eventon_filter_dropdown p.evf_hide{display: none;}
		.evo_srt_options p:hover{background-color:#f7f7f7;color:#606060;border-left-color:#C7C7C7;}
		.ajde_evcal_calendar .eventon_sort_line, .eventon_filter_line{
			padding-left:0px;
			position:relative;
			margin:0;
			float: left;					
		}
		.eventon_sorting_section .eventon_sort_line+.eventon_filter_line{
			border-left:1px solid #c4c4c4;	padding-left: 10px;
		}
		.eventon_filter_line .eventon_filter{
			display: block;
			float: left;
			margin-right: 10px;
		}
		.evo_fc_widget .eventon_filter_line{
			padding-left: 0;
			border-left: none;
		}

/*-- event loading --*/
	#eventon_loadbar{height: 2px;width: 0%;}
	#eventon_loadbar_section{height:2px; width:100%; margin-top: 6px;}


/*-- event list -- single event line --*/
	#evcal_list .eventon_list_event a.sin_val.hasFtIMG .evcal_desc, .sin_val.hasFtIMG .evcal_desc{
		padding-left:100px;
	}
	#evcal_list .eventon_list_event p.no_events{
		padding:8px 12px;
		border-left:1px solid #cdcdcd;
		font-style:italic;
		font-size:13px;
		margin-bottom:0;
	}

/*-- event list --*/
	#evcal_list{
		border-right:1px solid #e5e5e5;
		border-bottom:1px solid #e5e5e5;
		border-top:1px solid #e5e5e5;
		border-radius: 5px;
		overflow: hidden;
	}
	.ajde_evcal_calendar .eventon_events_list .eventon_list_event{
		margin-left:0; margin-bottom:0;
		padding:0px; overflow:hidden; position:relative;
		list-style-type:none;
	}
	.eventon_events_list .eventon_list_event .desc_trig{cursor:pointer}
	.eventon_events_list .eventon_list_event .desc_trig:hover{
		background-color:#f4f4f4;
		border-left-width:7px
	}
	.eventon_events_list .eventon_list_event a{text-decoration: none;
		border-bottom:none;
	}
	.eventon_events_list .eventon_list_event .evcal_list_a:after{
		content:"";
		width:100%;
		height:1px;
		background-color: #e5e5e5;
		position: absolute;
		bottom: 0;
		display: block;
	}
	.eventon_events_list .eventon_list_event .evcal_list_a{
		display:block; width:100%;position:relative;
		padding:10px 0 15px;
		overflow:hidden;
		border-left-width:3px;
		border-left-style:solid;
		min-height:63px;
		border-bottom:none;
	}
	.eventon_events_list .eventon_list_event .evcal_list_a.featured_event{
		background-color: #F9ECE4;
	}
		/*.eventon_events_list .eventon_list_event .evcal_list_a.featured_event span.evcal_event_title:before{
			content:"\f005";
			display: inline-block;
		    font-family: 'evo_FontAwesome';
		    font-style: normal;
		    font-weight: normal;
		    line-height: 1;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    width: 12px;
		    padding-right: 8px; color:#ffc33b;
		}*/
		.eventon_events_list .eventon_list_event .evcal_list_a.featured_event:hover{
			background-color: #FAE4D7;
		}
	.eventon_events_list .eventon_list_event .evcal_list_a.completed-event .evcal_event_title{text-decoration: line-through;}

	.eventon_events_list a{text-decoration:none}


	.ajde_evcal_calendar .clear, .evo_lightbox .clear{clear:both; height:0px;margin:0;padding: 0;}
	.eventon_events_list .eventon_list_event .evcal_cblock, .evo_pop_body .evcal_cblock{
		background-color:transparent !important; color:#ababab;
		font-size:30px;
		padding:0px 8px 2px 13px;
		font-weight:bold;
		position:absolute;
		line-height:110%;
		min-height:30px;	
		margin:0 6px 0 0;
		left: 0;
	}
	.eventon_events_list .eventon_list_event .evcal_cblock.mnl, .evo_pop_body .evcal_cblock.mnl{display: none;}
	.eventon_events_list .eventon_list_event .hasFtIMG .evcal_cblock, .evo_pop_body .hasFtIMG .evcal_cblock{
		left:50px;
	}
	
/* cancelled events */
	.eventon_events_list .eventon_list_event .cancel_event .evo_event_headers, 
	.evo_pop_body .evo_event_headers.canceled,
	.eventon_events_list .eventon_list_event .evcal_list_a .evo_above_title span,
	.evo_pop_body .evcal_list_a .evo_above_title span
	{
		background-color: #F79191;
		font-size: 12px;
		color: #fff;
		display: inline-block;
		border-radius: 5px;
		padding: 3px 9px;
		margin-bottom: 4px;
		text-transform: uppercase;
		font-family: 'open sans',arial;
		margin-right:5px;
	}

	.eventon_events_list .eventon_list_event .cancel_event.evcal_list_a{
		background: repeating-linear-gradient(
		  45deg,#FDF2F2, #FDF2F2 10px, #FAFAFA 10px, #FAFAFA 20px
		);
	}
	.eventon_events_list .eventon_list_event .evcal_cblock em, .evo_pop_body .evcal_cblock em{
		font-style:normal;
		text-transform:uppercase;
		line-height:110%;
	}
	.eventon_events_list .eventon_list_event .evcal_cblock em.evo_date, .evo_pop_body .evcal_cblock em.evo_date{
		display:block;
	}
	.eventon_events_list .eventon_list_event .evcal_cblock em.evo_day,  .evo_pop_body .evcal_cblock em.evo_day{
		font-size:8px;font-weight:normal;
		display:block;	float:left; padding-right:6px;
	}
	.eventon_events_list .eventon_list_event .evcal_cblock em.evo_day{color:#B7B7B7;margin-bottom: 3px;}
	.EvcalWidget .eventon_events_list .evcal_cblock .evo_date em.evo_day, .widget .eventon_events_list .evcal_cblock .evo_date em.evo_day{
		padding-bottom: 3px;
	}
	.eventon_events_list .eventon_list_event .ev_ftImg{
		background-repeat:no-repeat;
		width: 50px;
		height: 100%;
		position: absolute;
		margin:-10px 0;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position:top center;
		display: block;
	}
	#evcal_widget .eventon_events_list .eventon_list_event .ev_ftImg{margin: -5px 0;}

	.eventon_events_list .eventon_list_event .evcal_cblock span, .evo_pop_body .evcal_cblock span{
		line-height:100%;vertical-align:super}
		
		.evcal_cblock .evo_date .start{
			float: left;font-size: 30px; clear:both;
		}
		.evcal_cblock .evo_date .start em, .evcal_cblock .evo_date .end em{
			font-size: 11px; font-weight: normal;display: block;margin-left: 6px;}
		.evcal_cblock .evo_date .start em{margin-left: 0; margin-top: 3px;}
		.evcal_cblock .evo_date .end em{font-size: 8px; margin-top: 3px;}
		.evcal_cblock .evo_date .end{
			float: left; margin-left: 4px; font-size: 14px; }
	
	/* time */
		.evcal_cblock .evo_time span.start, .evcal_cblock .evo_time span.end{
			float: left;font-size: 14px; clear:both;
			font-weight: normal;
			padding-top: 4px;		
		}
		.evcal_cblock .evo_time .evo_day.end{clear: both;padding-top: 5px; }
		.ajde_evcal_calendar #evcal_list .evcal_cblock .evo_time{display: none;}

		#evcal_widget .eventon_events_list .eventon_list_event .evcal_cblock .evo_time span.start{font-size: 12px;}
		#evcal_widget .eventon_events_list .eventon_list_event .evcal_cblock .evo_time span.end{font-size: 11px;}

	.eventon_events_list .eventon_list_event .evcal_desc, .evo_pop_body .evcal_desc, #page-content p.evcal_desc{
		margin-left:5px;
		padding: 0px 15px 0 138px; margin-bottom:0px; top: 0;
		display: block;
	}
	.evo_pop_body .evcal_desc.mnl,.evo_pop_body .evcal_desc.yrl{padding-left: 10px;}
	.eventon_events_list .eventon_list_event .hasFtIMG .evcal_desc, .evo_pop_body .hasFtIMG .evcal_desc{
		padding-left:120px;
	}
		.eventon_events_list .eventon_list_event .no_val.hasFtIMG .evcal_desc{
			padding-left: 80px
		}
		.eventon_events_list .eventon_list_event .no_val .evcal_cblock{display: none;}
		.eventon_events_list .eventon_list_event .no_val .evcal_desc, #evcal_widget .eventon_events_list .eventon_list_event .no_val .evcal_desc{
			padding-left: 10px;
		}

	.eventon_events_list .eventon_list_event .evcal_desc span, .evo_pop_body .evcal_desc span{
		display:block; 
		color:#262626;
		font-family:'open sans',arial;
	}
	/* eventtop tags */
	.eventon_events_list .eventon_list_event .evcal_desc span.evo_above_title span, .evo_pop_body .evcal_desc span.evo_above_title span{
		display: inline-block;color: #fff;
		background-color: #F79191;
		border-radius: 5px;
    	padding: 3px 9px;
    	margin-bottom: 4px;
    	text-transform: uppercase;
    	font-size: 12px;
	}
	.eventon_events_list .eventon_list_event .evcal_desc .evcal_desc_info, .evo_pop_body .evcal_desc .evcal_desc_info{
		font-size:12px;line-height:120%;
		padding-bottom:2px;
		opacity:0.7
	}
	.eventon_list_event:hover .evcal_desc .evcal_desc_info{opacity:1}

	.eventon_events_list .eventon_list_event .evcal_desc span.evcal_desc2, .evo_pop_body .evcal_desc span.evcal_desc2{
		color:#6B6B6B; 
		text-transform:uppercase;
		font-size:18px
	}
	.evo_pop_body .evcal_desc span.evcal_desc2{line-height: 130%;}
	.evcal_desc .evcal_desc3 em.evcal_cmd{float: none;}
	.evcal_desc .evcal_desc3{min-height:14px;}
	.evcal_desc .evcal_desc3 em{
		font-size: 11px;
		line-height: 110%;
		color: #797979;
		float:left; display:block;
		padding-right:6px;
	}
	.evcal_desc .evcal_desc3 em i{color:#c8c8c8	}
	.evcal_desc .evcal_desc3 span.evcal_event_types em i.fa{margin-right: 6px;}
	.evcal_desc .evcal_cmd i.fa{margin-right: 5px;}

	.eventon_events_list .eventon_list_event .evcal_desc span.evcal_event_subtitle, .evo_pop_body .evcal_desc span.evcal_event_subtitle{
		color: #6B6B6B;
		text-transform: uppercase;
		font-size: 16px;
		font-family:'open sans',arial;
	}
	.editEventBtnET{cursor:pointer; margin-left: 5px; }
	.editEventBtnET:hover{opacity: 0.5;}

/* show more events button */
	.eventon_events_list .evoShow_more_events:hover{opacity: 0.7}
	.eventon_events_list .evoShow_more_events{
		text-align: center;
		background-color: #e5e5e5;
		color: #929292;
		text-transform: uppercase;
		cursor: pointer;
		font-size: 14px;
		padding: 5px 0;
		margin: 0;
	}

/* featured event */
	.eventon_events_list .ft_event.evcal_list_a .evcal_desc .evcal_event_title{
		font-size:20px;
		font-weight:400;
	}
	.eventon_events_list .ft_event.evcal_list_a{
		background-color:#f9f9f9;
	}
	.eventon_events_list .eventon_list_event a.ft_event .evcal_cblock em.evo_date{
		color:#6b6b6b
	}
	.eventon_events_list .eventon_list_event .evcal_desc em, .evo_pop_body .evcal_desc em{
		font-weight:normal;
		margin-bottom:5px;
	}
	.eventon_events_list .eventon_list_event .evcal_desc em.evcal_alldayevent_text{
		text-transform: capitalize;
	}
	/* eventtop button custom field */
		.evcal_desc .evcal_desc3 em.evocmd_button, #evcal_list .evcal_desc .evcal_desc3 em.evocmd_button{
			padding:4px 6px;
			border-radius: 5px;
			background-color:#237dbd;
			color:#fff;
			cursor: pointer;
			display: inline-block; 
		}
		.evcal_desc .evcal_desc3 em.evocmd_button:hover{opacity: 0.5;}

	/* date and location fields on event top */
		.eventon_events_list .eventon_list_event .evcal_desc .evcal_location, 
		.evo_pop_body .evcal_desc .evcal_location,
		.eventon_events_list .eventon_list_event .evcal_desc .evcal_time, 
		.evo_pop_body .evcal_desc .evcal_time{
			font-style:normal;
			padding-left:15px;
			margin-right:5px;
			position: relative;
			display: inline-block;			
		}	
		.eventon_events_list .eventon_list_event .evcal_desc .evcal_time::before, 
		.evo_pop_body .evcal_desc em.evcal_time::before{
			content:"\f017";
		}
		.eventon_events_list .eventon_list_event .evcal_desc .evcal_location, .evo_pop_body .evcal_desc .evcal_location{
			display: inline-block;
		}
		.eventon_events_list .eventon_list_event .evcal_desc .evcal_location::before, 
		.evo_pop_body .evcal_desc em.evcal_location::before{
			content:"\f041";
		}
		.eventon_events_list .eventon_list_event .evcal_desc .evcal_time::before, 
		.evo_pop_body .evcal_desc em.evcal_time::before,
		.eventon_events_list .eventon_list_event .evcal_desc .evcal_location::before, 
		.evo_pop_body .evcal_desc em.evcal_location::before{
			position: absolute;
			left: 0; top: 3px;			
			display: inline-block;
			font-family: 'evo_FontAwesome';
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;		
		}

	.eventon_events_list .eventon_list_event .event_description{	
		background-color:#eaeaea;
		border-left:1px solid #e5e5e5;
		position:relative
	}
	.eventon_events_list .eventon_list_event .event_description, .eventon_events_list .eventon_list_event .event_description .evcal_desc_top{
		border-bottom:1px solid #e5e5e5}
	.eventon_events_list .eventon_list_event .event_description p{float:none;}
	.eventon_events_list .eventon_list_event .event_description .evcal_eventbrite, .eventon_events_list .eventon_list_event .event_description .evcal_desc_top{padding:5px 8px;margin-top:4px;}
	.event_description p{font-family:arial}	

/*-- input fields --*/
	#evcal_list .eventon_list_event .evoInput, .evo_pop_body .evoInput{
		padding:2px 5px;
		border:1px solid #ddd;
		color:#888;
		font:italic 13px 'open sans';
		background-color: transparent;
	}

/*-- gmap --*/
	.evo_metarow_gmap img {	/*max-height: none;	*/}
	#evcal_list .eventon_list_event .event_description .evcal_gmaps {
		margin-top: 0px;width:100%; height:200px; 
		max-width: none;
	}
	.evo_pop_body .evcal_gmaps * {max-width: none;}
	#evcal_list .evorow.getdirections, .evo_pop_body .evorow.getdirections{
		padding:0px;
		background-color: #fff;
	}
	#evcal_list .evorow.getdirections form, .evo_pop_body .evorow.getdirections form{margin: 0;}
	#evcal_list .evorow.getdirections p, .evo_pop_body .evorow.getdirections p{
		position:relative;
		margin:0;
		overflow: hidden;
	}
	#evcal_list .evorow.getdirections .evoInput, .evo_pop_body .evorow.getdirections .evoInput{
		width:100%;
		font-size: 16px;
		border: none;
		padding: 8px 10px;
		margin: 0;
	}
	#evcal_list .evorow.getdirections .evcalicon_9, .evo_pop_body .evorow.getdirections .evcalicon_9{
		display:inline-block;
		cursor:pointer;
		position:absolute;
		right:0;
		top:0;
		border:none;
		color: #858585;
		font-size: 18px;
		background: transparent;
		height: 100%;
	}
	#evcal_list .evorow.getdirections .evcalicon_9:hover, .evo_pop_body .evorow.getdirections .evcalicon_9:hover{
		opacity: 0.7
	}

/*-- event other data --*/
	.evcal_evdata_row .evcal_evdata_custometa_icons{
		display:block; position:absolute; padding:0;
		width:31px; height:30px;
	}
	.evcal_evdata_row .evcal_evdata_icons, .evo_metarow_learnMICS .evcal_col50 .evcal_evdata_icons{
		display:block; position:absolute; padding:0;
		width:31px; height:30px;
	}
	.evcal_evdata_row.evo_metarow_socialmedia{padding: 0;}
	.evcal_evdata_row .evcal_evdata_cell h2, .evcal_evdata_row .evcal_evdata_cell h3{
		font-weight:normal;
		text-transform:uppercase;
		letter-spacing:normal;
		line-height:100%;
	}
	.evcal_evdata_row.evcal_evrow_sm{ padding:15px}
	.evcal_evdata_row{
		background-color:#eaeaea;
		padding:15px;
		position:relative
	}

	/* social media */
		.evo_metarow_socialmedia .evo_sm{	
			display: block;
			float: left;
			height: 45px;
			width: 70px;
			text-align: center;
			border-right:1px solid #cdcdcd;
		}		
		.evo_metarow_socialmedia a.evo_ss{			
			display: block;	height: 100%;
		}
		/* widget */
		#evcal_widget .evo_metarow_socialmedia a.evo_ss i{font-size: 15px;}
		#evcal_widget .evo_metarow_socialmedia .evo_sm{width: 40px;height: 40px;}

		.evo_metarow_socialmedia a.evo_ss:hover i{	color: #fff;}		
		.evo_metarow_socialmedia a.evo_ss i{
			margin-top: 13px;
			font-size: 24px;
		}
		.evo_fc_widget .evo_metarow_socialmedia .evo_sm{
			height: 35px; width: 40px;
		}
		.evo_fc_widget .evo_metarow_socialmedia .evo_sm a{}
		.evo_fc_widget .evo_metarow_socialmedia .evo_sm i{
			margin-top: 8px;
			font-size: 18px;
		}
		@media (max-width: 480px){
			.evo_metarow_socialmedia .evo_sm{
				height: 35px; width: 40px;
			}
			.evo_metarow_socialmedia a.evo_ss i{
				font-size: 18px;
				margin-top: 8px;
			}
		}

/* ICS add to calendar */
	#evcal_list .eventon_list_event .evcal_eventcard .evo_ics, .evo_pop_body p.evo_ics{
		padding: 10px 0; margin: 0;
		position: relative;	}
	.evo_pop_body p.evo_ics{padding:5px 0 10px;}
	.evcal_eventcard .evo_ics.evcal_col50, #evcal_list .eventon_list_event .evcal_eventcard .evo_ics.evcal_col50{
		padding: 0; margin: 0; vertical-align: top;
	}
	.evcal_eventcard .evo_ics.evcal_col50 a{
		padding-top: 12px; display: inline-block;
	}
	

	.evo_metarow_ICS.evcal_evdata_row{padding: 10px 15px;}
	.evo_metarow_learnMICS .evcal_col50 .evcal_evdata_cell p, .evo_metarow_ICS .evcal_evdata_cell p{
		margin: 0;padding: 0;
	}
	.evo_metarow_ICS .evcal_evdata_cell p a, .evo_metarow_learnMICS .evcal_col50 .evcal_evdata_cell p a{
		font-family:oswald, 'arial narrow';
		text-transform: uppercase;
		font-style: normal;
		font-size: 14px;
		color:#6B6B6B;
		padding-right: 8px; padding-top: 0;
		margin-top: 3px;
		display: inline-block;
	}
	.evo_metarow_ICS .evcal_evdata_cell p a:hover, .evo_metarow_learnMICS .evcal_col50 .evcal_evdata_cell p a:hover{opacity: 0.6}

/* clickable row */
	.evo_clik_row.evcal_evdata_row{
		display:block;
		border-bottom:none;
	}
	.evo_clik_row .evcal_evdata_row, .evo_clik_row.evcal_evdata_row{
		display:block;
		padding:8px 15px;
		margin: 0;
	}
	.evo_clik_row .evcal_evdata_row{
		background:transparent
	}
	.evo_clik_row .evo_h3{
		padding:5px 0 5px 45px;
		color: #6B6B6B;
		font-size:16px;
		font-weight:normal;
		line-height:110%;
		letter-spacing: normal;
		text-transform:uppercase;
		margin:0
	}
	.evorow.tb, .evorow .tb{
		display:table; width:100%;
	}
	.evorow.tb .evcal_col50, .evorow .tb .evcal_col50{
		display:table-cell;	float:none
	}
	.evorow.tb .tbrow, .evorow .tb .tbrow{
		display:table-row;
	}	
	.evorow.lastrow{	padding-right:55px	}

/* diffrent row colors */
	.dark1{	background-color:#e1e1e1;}
	.dark1:hover{
		background-color:#d8d8d8;
		text-decoration:none
	}

/*-- event card close --*/
	.evorow{position:relative}
	.event_description .evcal_close:hover{
		background-color:#c7c7c7;
	}
	.event_description .evcal_close{
		padding:0;
		background:#eaeaea url(../images/close_arrow.png) center center no-repeat;
		position:absolute;
		bottom:0;
		right:0;
		width:60px;
		height:100%;
		cursor:pointer;
	}
	.evo_pop_body .evorow.lastrow{	padding-right:0	}
	.evo_pop_body .evcal_close.evcal_evdata_row {display:none}	

/* RTL  -- evortl */	
	.evortl #evcal_list .eventon_list_event .evcal_desc span.evcal_event_title, 
	.evortl .eventon_events_list .eventon_list_event .evcal_desc .evcal_desc_info, 
	.evortl.eventon_events_list .eventon_list_event .evcal_desc .evcal_desc_info, 
	.evortl .eventon_events_list .eventon_list_event .evcal_desc span,
	.evortl.eventon_events_list .eventon_list_event .evcal_desc span,
	.evortl .evcal_evdata_row .evcal_evdata_cell h3,
	.evortl .eventon_events_list .eventon_list_event .evcal_desc,
	.evortl.eventon_events_list .eventon_list_event .evcal_desc,
	.evortl #evcal_list .eventon_list_event .evcal_eventcard p,
	.evortl .evcal_evdata_row .evcal_evdata_cell,
	.evortl #evcal_list .eventon_list_event p.no_events
	{text-align: right;}
	
	.evortl .eventon_events_list .eventon_list_event .evcal_desc, .evortl.eventon_events_list .eventon_list_event .evcal_desc{
		padding-right: 80px; padding-left: 15px;
	}
	.evortl .eventon_events_list .eventon_list_event .evcal_cblock, .evortl.eventon_events_list .eventon_list_event .evcal_cblock{
		right: 0; left: auto;
	}
	.evortl .evcal_desc .evcal_desc3 em{
		float: none; display: inline-block;
	}
	.evortl .evcal_evdata_row .evcal_evdata_cell{padding-right: 45px; padding-left: 0;}		

	/* header */
		.ajde_evcal_calendar.evortl .calendar_header p.evo_arrows{float: right;padding-right: 10px;}
		.evortl #evcal_cur{float: right;}
		.evortl .evo_sort_btn{display: block; text-align: right;    height: 25px; padding-top: 5px;}
		.evortl.ajde_evcal_calendar .eventon_sort_line, .evortl.ajde_evcal_calendar .eventon_filter_line{
			float: right;
		}
		.evortl.ajde_evcal_calendar .eventon_filter_line{border-left:none; border-right:1px solid #c4c4c4;
			margin-right: 10px;
		}
		.evortl .eventon_filter_line .eventon_filter{float: right;}


	/* event card */
		.evortl #evcal_list .eventon_list_event ul, .evortl .evo_pop_body ul{direction:rtl;}
		.evortl #evcal_list .eventon_list_event li, .evortl .evo_pop_body li{direction: rtl;margin-right: 20px;}
		.evortl .evcal_evdata_row .evcal_evdata_icons, .evortl .evcal_evdata_row .evcal_evdata_custometa_icons{right: 0;}
		.evortl .event_description .evcal_close{left: 0;}

	/* lightbox */
		.evortl.evo_lightbox .evolbclose{left: 0; right: auto;margin: -14px 0 0 -14px;}
		.evortl.evo_lightbox .evcal_desc{padding: 3px 80px 0 15px; text-align: right;}
		.evortl.evo_lightbox .evcal_cblock{right:0; left: auto;}
		.evortl.evo_lightbox .evo_clik_row .evo_h3{text-align: right; padding: 5px 45px 5px 0;}

	/* addon */
		.evortl.evo_lightbox .evoTX_wc .quantity{float: right;margin: 0 0 0 10px;}	
		.evortl.evo_lightbox .evo_metarow_socialmedia .evo_sm{float: right;}
		.evortl .evo_search_bar input{text-align: right;}
		.eventon_main_section .evortl .evorow.lastrow{padding-left: 0; padding-right: 15px;}
		.evortl.evoEL .calendar_header p{text-align: right; display: block; width: 100%;}
		.evortl.evoEL .evcal_month_line p{text-align: right;}
		.evortl.ajde_evcal_calendar .eventon_events_list .eventon_list_event .evcal_desc span.evocd_timer span, 
		.evortl.evo_lightbox .evcal_desc span.evocd_timer span{float: right;margin-right: 0; margin-left: 5px;}

/* event card */
	.evcal_evdata_row .evcal_evdata_cell >* {margin:0; }			
	.evcal_evdata_cell h2 b, .evcal_evdata_cell h3 b{
		font-weight:300
	}
	.evcal_evdata_row .evcal_evdata_cell h2{
		color:#5d5d5d; font-size: 18px; 
	}
	.evcal_evdata_row .evcal_evdata_cell h2.bash{font-weight:bold	}
	.evcal_evdata_row .evcal_evdata_cell h3{
		color:#5d5d5d; font-size:16px; 
		margin:0;
	}
	.evcal_evdata_row .evcal_evdata_cell a.evo_cusmeta_btn.evcal_btn{margin-top: 8px;}
	.evcal_evdata_row .evcal_evdata_cell a{border:none; padding:0;}
	.evcal_evdata_row .evcal_evdata_cell, .evo_metarow_learnMICS .evcal_col50 .evcal_evdata_cell{
		padding-left:45px; min-height:25px
	}
	.evcal_evdata_row.evcal_event_details .evcal_evdata_cell p{ 
		font:normal 12px 'open sans',arial;
		margin-bottom:5px;
	}
	.evcal_evdata_row .evcal_evdata_cell p{	
		font:italic 11px georgia; line-height:140%;
	}
	.evcal_col50{width:50%; float:left}

/* event organizer */
	.ajde_evcal_calendar .eventon_events_list .evo_metarow_organizer .evo_card_organizer_image, .evo_pop_body .evo_metarow_organizer .evo_card_organizer_image{
		display: inline-block;
		margin-top: 10px;
		margin-right: 10px;
	}
	.evo_metarow_organizer .evo_card_organizer{
		display: inline-block;
	}
	.evo_metarow_organizer .evo_card_organizer_image img{
		border-radius: 5px;
		height: 80px;
	}
	#evcal_list .eventon_list_event .evo_metarow_organizer .evo_card_organizer_name, .evo_pop_body .evcal_evdata_row.evo_metarow_organizer .evo_card_organizer_name{
		display: inline-block;
		font-size: 16px;
		margin-bottom: 0;
		margin-top: 5px;
	}
	#evcal_list .eventon_list_event .evo_metarow_organizer .evo_card_organizer_name span.evo_card_organizer_name_t, .evo_pop_body .evo_metarow_organizer .evo_card_organizer_name span.evo_card_organizer_name_t{font-size: 16px;}
	#evcal_list .eventon_list_event .evo_metarow_organizer .evo_card_organizer_name span, .evo_pop_body .evo_metarow_organizer .evo_card_organizer_name span{
		display: block;
		font-size: 13px;
	}

/* featured image */
	.evcal_evdata_img {height:70px; }
	.evcal_evdata_img {
		width:100%; overflow:hidden; 
		background-repeat:none;
		background-position:50% 50%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position:relative;	
	}
	.evcal_evdata_img:hover{background-position: 50% 50%;	}
	.evcal_evdata_img.evo_imghover:hover{background-position: 50% 45%;	}
	.evcal_evdata_img.evo_imgCursor:hover{cursor: url(../images/zoom.png), auto;}
	.evo_metarow_directimg img{
		width: 100%; height: auto;
	}	
	@media (max-width:680px){
		.evo_metarow_fimg.evcal_evdata_img{height: 125px;}
	}

/* event location image */
	.evo_metarow_locImg{
		background-repeat:none;
		background-position:50% 50%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position:relative;
		width:100%; overflow:hidden; 
		text-align: center;	
		-webkit-transform-style: preserve-3d;
	  	-moz-transform-style: preserve-3d;
	  	transform-style: preserve-3d;
	}
	.evo_metarow_locImg.tvi::after{
		content: "";
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		background-color: #000;
		height: 100%; width: 100%;
		z-index: 2;
		opacity: 0.6
	}
	#evcal_list .eventon_list_event .evo_metarow_locImg p.evoLOCtxt, .evo_popup .evo_metarow_locImg p.evoLOCtxt{
		color: #fff;
		font-family: oswald, 'arial narrow';
		font-size: 16px;
		text-transform: uppercase;
		padding: 15px; margin: 0;
		z-index: 5;
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}
	#evcal_list .eventon_list_event .evo_metarow_locImg p.evoLOCtxt span, .evo_popup .evo_metarow_locImg p.evoLOCtxt span{
		display: block;
		text-align: center;
		font-family: 'open sans';
		text-transform: none;
		font-style: italic;
		opacity: 0.7
	}

/*-- event description section --*/
	.eventon_events_list .eventon_list_event .event_description .eventon_full_description p
	{padding-bottom:8px}
	.eventon_full_description .eventon_desc_in{
		overflow-wrap: break-word;
  		word-wrap: break-word;
  		text-overflow: ellipsis;
	}
	#evcal_list .eventon_list_event .evcal_desc span.evcal_event_title, .eventon_events_list .evcal_event_subtitle{
		line-height:120%;
		padding-bottom:5px;
	}
	#evcal_list .eventon_list_event .event_description .evcal_desc_buy_tix a{color:#fff; background:#949494; padding:3px 10px; border:none; display:inline-block}
	#evcal_list .eventon_list_event .event_description .evcal_desc_buy_tix a:hover{background:#4F4F4F}
	#evcal_list .eventon_list_event .event_description p, #evcal_list .evcal_list_a .event_description li, 
	.evo_pop_body .evcal_evdata_row .evcal_evdata_cell p{
		font-size:13px; color:#656565;		
	}	
	.evo_repeat_series_dates span{display: inline-block;
		margin-right: 5px; border-radius: 5px;
		background-color: #dedede; padding: 3px 10px; font-style: normal;
		margin-top: 5px;
	}
	#evcal_list .eventon_list_event .event_description .evcal_desc_top{background-color:#e4e4e4;}
	#evcal_list .eventon_list_event .event_description ul{
		padding-bottom:5px;
		list-style-type:disc!important;
	}
	#evcal_list .eventon_list_event .event_description li{padding-bottom:10px}
	.evcal_event_details .evcal_evdata_cell.shorter_desc{height:150px; overflow:hidden;	}	
			
	.evcal_event_details .evcal_evdata_cell{position:relative}
	.evcal_event_details .evcal_evdata_cell .eventon_details_shading_bot{
		position:absolute;
		bottom:0; left:0;
		/*background:url(../images/more_details_fade_bg.png) top left repeat-x;*/
		height:60px;
		width:100%;
	}
	.eventon_details_shading_bot p:hover, .eventon_list_event .eventon_details_shading_bot p:hover{opacity:1}
	.eventon_details_shading_bot p, .eventon_list_event .eventon_details_shading_bot p{
		opacity:0.5;
		margin-top:40px;
		text-align:center;
		cursor:pointer;
	}
	.eventon_details_shading_bot p span.ev_more_arrow.less{background-position:-8px 0}
	.eventon_details_shading_bot p span.ev_more_arrow{
		background:url(../images/evo_more_details_arrow.png) top left no-repeat;
		height:6px; width:8px;	
		margin-left:9px;
	}
	.eventon_details_shading_bot p span{display:inline-block;}

/*-- upcoming events list --*/
	.ajde_evcal_calendar .evcal_month_line p{
		padding:8px 0 5px;
		color: #c6c6c6;
		font-size: 24px;
		text-transform: uppercase;
		min-height: 24px;
		line-height: 100% !important;
		margin: 0 !important;
		font-weight: normal;
		border-bottom: 1px solid #e5e5e5;
	}
	.ajde_evcal_calendar.ul .evcal_month_line p{border-bottom: none;}
/* tabbed view */
	.evo_tab_view ul.evo_tabs{
		list-style: none;
		margin: 0; padding: 0;
	}
	.evo_tab_view ul.evo_tabs:after{content:""; clear:both; display:block;}
	.evo_tab_view ul.evo_tabs li{
		float: left;
		display: block;
		text-transform: uppercase;
		padding: 3px 8px;
		border:1px solid #DEDEDE;
		margin-bottom: -1px;
		color: #C3C3C3;
		cursor: pointer;		
	}
	.evo_tab_view ul.evo_tabs li:first-child{margin-left: 5px;}
	.evo_tab_view ul.evo_tabs li.selected{
		background-color: #F3F3F3;color: #A0A0A0;
	}
	.evo_tab_view ul.evo_tabs li:hover{background-color:#F3F3F3 }
	.evo_tab_container{
		padding: 5px 15px 15px;
		border:1px solid #DEDEDE;
		border-radius: 5px;
		position: relative;
	}
	.evo_tab_container .evo_tab_section{
		position: relative;
		width: 100%;		
	}
	.evo_tab_container .evo_tab_section.hidden{opacity:0; height: 0}
	.evo_tab_container .evo_tab_section.visible{opacity: 1;}
	.evo_tab_section .evo_month_title{clear: both;}
	/*.evo_cal_above_content:after{content:""; clear:both;}*/

/*-- widget --*/
	.evo_widget .eventon_events_list .eventon_list_event .evcal_desc span.evo_above_title span, .evo_widget .evo_pop_body .evcal_desc span.evo_above_title span{padding: 1px 5px; font-size: 10px;}
	#evcal_widget .evortl .eventon_events_list .eventon_list_event .evcal_desc{padding-left: 0px;
			padding-right: 65px;
		}
	#evcal_widget .eventon_events_list .eventon_list_event .evcal_desc .evcal_desc_info em{
		color:#9b9999;
		font-weight:normal;
	}
	#evcal_widget .eventon_events_list .eventon_list_event .evcal_desc.hide_eventtopdata .evcal_event_types, 
	#evcal_widget .evcal_evdata_row .hide_eventtopdata .evcal_evdata_custometa_icons{
		display:none;
	}	
	#evcal_widget .ajde_evcal_calendar .calendar_header{
		padding-bottom:5px;
		min-height:inherit;
	}
	#evcal_widget a{font-weight:normal}
	#evcal_widget .event_description .evcal_evdata_row p{
		line-height:130%;
		font-size:11px;
	}
	#evcal_widget .event_description .evcal_evdata_row.evo_metarow_socialmedia  {padding: 0;}
	#evcal_widget .event_description .evcal_evdata_row {
		padding:15px 15px;
	}
	#evcal_widget .event_description .evcal_evdata_row.evcal_close{
		padding:0px;
		width:35px;
	}
	#evcal_widget .evorow.lastrow{
		padding-right:35px;
	}
	#evcal_widget .event_description .evcal_evdata_row .evcal_evdata_icons, #evcal_widget .evcal_evdata_icons{
		display:none;
	}
	#evcal_widget .evo_clik_row .evo_h3, #evcal_widget .tb .evo_clik_row{
		padding:0px;	
	}
	#evcal_widget .tb .evo_clik_row.evcal_col50{
		border-bottom:none
	}
	#evcal_widget .evo_clik_row {padding:5px 15px;}

	#evcal_widget .event_description .evcal_evdata_row .evcal_evdata_cell{padding-left:0px}
	#evcal_widget .event_description .evcal_evdata_row .evcal_evdata_cell h2{font-size:16px}
	#evcal_widget .event_description .evcal_evdata_row .evcal_evdata_cell h3, #evcal_widget .evo_clik_row .evo_h3{
		font-size:14px}
	#evcal_widget .event_description .evcal_col50{
		float:none;
		border-bottom: 1px solid #CDCDCD;
	}
	#evcal_widget .event_description .eventbrite .evcal_col50{
		width:100%;
	}

	#evcal_widget .event_description .evcal_col50 .bordr{border-right:none}
	#evcal_widget .eventon_events_list .evcal_desc2{line-height:120%; font-size:14px}
	#evcal_widget .eventon_events_list .evo_below_title .evcal_event_subtitle{line-height:120%; font-size:12px}
	#evcal_widget .ajde_evcal_calendar .calendar_header p{font-size:18px}
	#evcal_widget .ajde_evcal_calendar #evcal_prev{margin-right:8px}
	#evcal_widget .ajde_evcal_calendar #evcal_next{margin-left:8px}
	#evcal_widget #evcal_sort_bar ul .sort_title{padding:8px 5px 0 0 }
	#evcal_widget #evcal_sort_bar ul p{font-size:13px; }
	#evcal_widget .eventon_events_list .evcal_cblock{font-size:24px;padding:3px 5px 5px 8px}
	#evcal_widget .eventon_events_list .eventon_list_event .evcal_desc, #evcal_widget .eventon_events_list .eventon_list_event .no_val.hasFtIMG .evcal_desc{padding-left:55px; padding-right:10px}
	
	/* w/ ft img and multi day event */
	#evcal_widget .eventon_events_list .eventon_list_event .hasFtIMG.mul_val .evcal_desc{padding-left: 100px;}
	#evcal_widget .eventon_events_list .eventon_list_event .hasFtIMG .evcal_desc{
		padding-left: 80px;
	}	

	#evcal_widget .eventon_events_list .eventon_list_event .evcal_cblock span{font-size:10px}
	#evcal_widget .evcal_cblock .evo_date .start em{font-size: 10px;}
	#evcal_widget .evcal_cblock .evo_date .end em{font-size: 8px;}
	#evcal_widget .eventon_events_list .eventon_list_event .evcal_cblock span.start{font-size:18px}
	#evcal_widget #evcal_list .eventon_list_event .evcal_list_a{padding:5px 0}

	#evcal_widget #evcal_head .evcal_arrows{
		margin-top:0px;
		height: 20px;
		width: 20px;
		position: relative;
		line-height: 100%
	}
	#evcal_widget #evcal_head .evcal_arrows .fa{
		font-size: 12px; 
		position: absolute;
		margin-top: 3px;
		left:7px;
	}
	#evcal_widget #evcal_head #evcal_prev {margin-right:2px; }
	#evcal_widget #evcal_head #evcal_next {margin-left:2px;}
	#evcal_widget #evcal_head #evcal_next:hover{
		background-position:-24px 20px;
	}
	#evcal_widget #evcal_head a{
		margin-top:0px;
		padding:0
	}
	#evcal_widget #evcal_head{min-height:auto; padding-bottom:0px}
	#evcal_widget #evcal_cur{
		line-height:100%;
		height:auto
	}
	#evcal_widget #evcal_list .eventon_list_event .evo_metarow_organizer .evo_card_organizer_name span.evo_card_organizer_name_t{font-size: 12px;}

/* popup on the calendar */	
	.evopopclose, .evolbclose{
		position:absolute;
		top:0;right:0;
		z-index:90001;
		margin:-14px -14px 0 0 ;
		color:#666666;
		background-color:#000;
		border-radius:50%;
		padding:5px;
		height:28px;width:28px;
		text-align:center;
		line-height:90%;
		font-size:28px;
		cursor:pointer;
		font-family: 'Open Sans', sans-serif; font-weight:300;
		box-sizing:content-box;	
		-moz-box-sizing:content-box;	
	}
	.evopopclose:hover, .evolbclose:hover{text-decoration:none;color:#cfcfcf;}

	.evo_lightbox_body .bordb{border-bottom: 1px solid #cdcdcd;}
	.evo_lightbox_body .evcal_gmaps{
		margin-top: 0px;
		width: 100%;
		height: 200px;
	}
	.evopop_top{padding:10px 0; min-height:80px;}
	.evopop_top .ev_ftImg{display:none;}
	.evopop_top .evcal_cblock em.evo_time{display: none;}	
	.evopop_top .evcal_desc.yrl{padding-left: 13px;}

	/* lightbox version 2 */
		.evo_lightbox{
			overflow-x: hidden;
	   	 	overflow-y: auto;
	   	 	background-color: rgba(61, 61, 61, 0.8);
	   	 	position: fixed;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    z-index: 95000;
		    padding-right: 17px;
		    padding-left: 17px;
		}
		.evo_content_in{
			display: table;
		    height: 100%;
		    width: 100%;
		}
		.evo_content_inin{
			display: table-cell;
		    vertical-align: middle;
		    position: relative;
		    width: 600px;
		    margin: 40px auto;
		}
		.evo_lightbox_content{
			width: 100%;
			margin: 60px auto;
			max-width: 650px;
			position: relative;
		}
		.evo_pop_body.evo_pop_body{
			background-color: transparent;
		}
		.evo_lightbox .evcal_cblock .evo_time{display: none;}
		.evo_lightbox .bordb{border-bottom: 1px solid #cdcdcd;	}
		.evo_lightbox.eventcard .evo_lightbox_body{background-color: #fff; border-radius: 5px; overflow: hidden;}
		.evo_lightbox .evopop_top .ev_ftImg{display: none;}

		body.evo_overflow{overflow: hidden;}
		html.evo_overflow{overflow-y:initial;}
	/* lightbox transition effects */
		.evo_lightbox{
			opacity: 0;
		    -webkit-transition: opacity .15s linear;
		    -o-transition: opacity .15s linear;
		    transition: opacity .15s linear;
		    visibility: hidden;
		}
		.evo_lightbox.show{
			opacity: 1;
    		visibility: visible;
		}
		.evo_lightbox_content{
			-webkit-transform: translateY(20%);
		    -moz-transform: translateY(20%);
		    -ms-transform: translateY(20%);
		    transform: translateY(20%);
		    opacity: 0;
		    -webkit-transition: all 0.5s;
		    -moz-transition: all 0.5s;
		    transition: all 0.5s;
		}
		.evo_lightbox.show .evo_lightbox_content{
			-webkit-transform: translateY(0);
		    -moz-transform: translateY(0);
		    -ms-transform: translateY(0);
		    transform: translateY(0);
		    opacity: 1;
		}

/* box events STYLE */
	.ajde_evcal_calendar.boxy #eventon_loadbar_section, .ajde_evcal_calendar.boxy #evcal_list{
		border-color:transparent;
		overflow: hidden;
		border-radius: 5px
	}
	.ajde_evcal_calendar.boxy .eventon_list_event, .ajde_evcal_calendar.boxy .evoShow_more_events{
		width: 50%;
		float: left;		
		height: 200px;
		-webkit-transform-style: preserve-3d;
	  	-moz-transform-style: preserve-3d;
	  	transform-style: preserve-3d;
	  	-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
	}
	.ajde_evcal_calendar.boxy .evoShow_more_events{
		line-height: 230px;
		position: relative;
	}
	.ajde_evcal_calendar.boxy .evoShow_more_events:before{
		content:"+";
		position: absolute;
	    text-align: center;
	    font-size: 42px;
	    width: 100%;
	    left: 0;
	    top: 0;
	    margin-top: -30px;
	}
	.ajde_evcal_calendar.boxy .eventon_list_event .evcal_list_a {
		text-align: left;
		padding: 18px 0 15px;		
		border:none;		
		background:none;
		position: relative;
		z-index: 6;
	}
	.ajde_evcal_calendar.boxy .eventon_list_event .evcal_list_a .evcal_block span{
		vertical-align: bottom;
		float: none;
	}
		.ajde_evcal_calendar.boxy .eventon_events_list .eventon_list_event .desc_trig:hover{background-color: transparent;}
		.ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .evcal_cblock,
		.ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .evcal_desc span.evcal_event_title,
		.ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .evcal_desc span.evcal_event_subtitle,
		.ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .evcal_desc em,
		.ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .eventon_list_event .evcal_desc .evcal_desc_info,
		.ajde_evcal_calendar.boxy .eventon_events_list .eventon_list_event .evcal_cblock em.evo_day
		{color: #fff;}
		.ajde_evcal_calendar.boxy #evcal_list .evcal_list_a:after{background-color: transparent;}
		.ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .desc_trig, .ajde_evcal_calendar.boxy #evcal_list p.desc_trig_outter{
			height: 100%;
			position: relative;	
			box-sizing:border-box;		
		}
		.ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .desc_trig.cancel_event:before, .ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .desc_trig.featured_event:before{
			content:"";
			background-color: #000;
			width: 100%; height: 100%;
			display: block;
			top: 0;
			position: absolute;
			z-index: -5;
			opacity: 0.3
		}
		.ajde_evcal_calendar.boxy .evcal_cblock{height: 50px;}
	/* style with top bar */
		.ajde_evcal_calendar.boxy.tile1 .evo_topbar{
			width: 100%;
			height: 90px;
			position: absolute;
			z-index: 90;
		}
		.ajde_evcal_calendar.boxy.tile1 #evcal_list .eventon_list_event .evcal_cblock{
			height: 70px;
		}
		.ajde_evcal_calendar.boxy.tile1 #evcal_list .eventon_list_event .evcal_desc span.evcal_event_title, .ajde_evcal_calendar.boxy.tile1 #evcal_list .eventon_list_event .evcal_desc span.evcal_event_subtitle, .ajde_evcal_calendar.boxy.tile1 #evcal_list .eventon_list_event .evcal_desc em, .ajde_evcal_calendar.boxy.tile1 #evcal_list .eventon_list_event .eventon_list_event .evcal_desc .evcal_desc_info{
			color: #6F6F6F;
		}
		.ajde_evcal_calendar.boxy.tile1 .eventon_list_event{
			border:1px solid #EDEDED;
		}
		.ajde_evcal_calendar.boxy.tile1 .eventon_list_event{
			height: 300px;
		}
		.ajde_evcal_calendar.boxy.tile1 .eventon_list_event.hasbgimg::after,.ajde_evcal_calendar.boxy.tile1 #evcal_list .eventon_list_event .desc_trig.cancel_event:before, .ajde_evcal_calendar.boxy.tile1 #evcal_list .eventon_list_event .desc_trig.featured_event:before{
			display:none;
		}		

		.ajde_evcal_calendar.boxy .eventon_list_event:hover{ opacity: 0.5;}
		.ajde_evcal_calendar.boxy .eventon_list_event.hasbgimg:hover{ opacity: 1;}

	/* with image */
		.ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .desc_trig.hasFtIMG .evcal_cblock{left: 0;}
		.ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .desc_trig.hasFtIMG .evcal_desc{
			padding-left: 15px;
		}
		.ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .desc_trig.hasFtIMG span.ev_ftImg{
			position: absolute;
			margin: 0; top: 0;
			width: 100%;
			z-index: -10;
			background-position: center center;
		}
		.ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .desc_trig.hasFtIMG span.ev_ftImg:before{
			content:"";
			background-color: #000;
			width: 100%;height: 100%;
			position: absolute;
			top: 0;left: 0;
			opacity: 0.4;
		}
		.ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .desc_trig.hasFtIMG:hover span.ev_ftImg:before{
			opacity: 0.2
		}

	/* box background */
		.ajde_evcal_calendar.boxy .eventon_list_event.hasbgimg{
			background-repeat: none;
			background-position: 50% 50%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}		
		.ajde_evcal_calendar.boxy .eventon_list_event.hasbgimg::after{
			content:"";
			background-color: #5F5F5F;
			height: 100%; width: 100%;
			position: absolute;
			z-index: 3;
			top: 0;left: 0;bottom: 0;right: 0;
			opacity: 0.2;
		}
		.ajde_evcal_calendar.boxy .eventon_list_event.hasbgimg:hover::after{opacity: 0.7;}
	
	.ajde_evcal_calendar.boxy .eventon_events_list .eventon_list_event .evcal_cblock{
		position: relative;
		display: block;
		padding: 0 0 0 15px;
	}
		.ajde_evcal_calendar.boxy .eventon_events_list .eventon_list_event .sin_val .evcal_cblock{
			width: 38px;
		}	
		.ajde_evcal_calendar.boxy .eventon_list_event .evcal_desc span.evcal_event_types em, .ajde_evcal_calendar.boxy .eventon_list_event .evcal_desc span.evcal_event_types{
			line-height: 13px
		}
		.ajde_evcal_calendar.boxy .eventon_list_event .evcal_desc span.evcal_event_types  em{
			display: inline-block;
			float: none;
			margin: 0;
		}
		.ajde_evcal_calendar.boxy .eventon_list_event .evcal_desc .evcal_desc3{
			display: none;			
		}
		.ajde_evcal_calendar.boxy .evcal_list_a span.evcal_event_types.ett2, .ajde_evcal_calendar.boxy .evcal_list_a span.evcal_event_types.ett3, .ajde_evcal_calendar.boxy .evcal_list_a span.evcal_event_types.ett4, .ajde_evcal_calendar.boxy .evcal_list_a span.evcal_event_types.ett5{
			display: none;			
		}
	.ajde_evcal_calendar.boxy .eventon_events_list .eventon_list_event .evcal_desc{
		padding: 6px 15px 8px 15px; 
		margin: 0;
	}

	/* box width */	
		.ajde_evcal_calendar.boxy.box_1 .eventon_list_event, .ajde_evcal_calendar.boxy.box_1 .evoShow_more_events{width: 100%;}
		.ajde_evcal_calendar.boxy.box_2 .eventon_list_event, .ajde_evcal_calendar.boxy.box_2 .evoShow_more_events{width: 50%;}
		.ajde_evcal_calendar.boxy.box_3 .eventon_list_event, .ajde_evcal_calendar.boxy.box_3 .evoShow_more_events{width: 33%;}
		.ajde_evcal_calendar.boxy.box_4 .eventon_list_event, .ajde_evcal_calendar.boxy.box_4 .evoShow_more_events{width: 25%;}
		.ajde_evcal_calendar.boxy.box_5 .eventon_list_event, .ajde_evcal_calendar.boxy.box_5 .evoShow_more_events{width: 20%;}

	/* responsive */
		@media (max-width: 768px){
			.ajde_evcal_calendar.boxy.box_3 .eventon_list_event, .ajde_evcal_calendar.boxy.box_4 .eventon_list_event, .ajde_evcal_calendar.boxy.box_5 .eventon_list_event{width: 50%;}
		}
		@media (max-width: 480px){
			.ajde_evcal_calendar.boxy.box_2 .eventon_list_event, .ajde_evcal_calendar.boxy.box_3 .eventon_list_event, .ajde_evcal_calendar.boxy.box_4 .eventon_list_event, .ajde_evcal_calendar.boxy.box_5 .eventon_list_event{width: 100%;}
		}

/* location card */
	.evo_location_card .entry-content{
		padding: 0px 60px;
	}
	.evo_location_card .evo_location_tax{
		background-color: #DAA971;
		text-align: center;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		background-position: center center;
  		padding: 50px;
  		min-height: 250px;
  		position: relative; z-index: 0;
  		border-radius: 5px 5px 0 0;
  		overflow: hidden;
	}
	.evo_location_card .evo_location_tax:after{
		content:"";
		width: 100%; height: 100%;
		top: 0;left: 0;
		background-color: rgba(61, 61, 61, 0.3);
		position: absolute;
		z-index: 1;
	}
	.evo_location_card .evo_location_tax > *{z-index: 3; position: relative;}
	.evo_location_card .evo_location_tax h2,.evo_location_card .evo_location_tax p{
		padding: 0; margin: 0 0 5px;
	}
	.evo_location_card .evo_location_tax h2{margin-bottom: 13px;}
	.evo_location_card .evo_location_tax span, .evo_location_card .location_description p, .evo_organizer_card .organizer_description p{
		color: #fff;
		padding: 3px 8px;
		background-color: rgba(0, 0, 0, 0.53);
		display: inline;
	}
	.evo_location_card .location_description p, .evo_organizer_card .organizer_description p{opacity: 0.8;}
	.evo_location_card h3.location_subtitle{
		text-align: center;
		padding: 10px; margin: 0 0 5px;
		text-transform: uppercase;
		font-size: 24px;
		background-color: #F0F0F0;
		color: #A9A9A9;
	}
	.evo_location_card .evo_location_map{
		width: 100%;	height: 250px;
	}
	.evo_location_card .location_circle{
		border-radius: 50%;
		overflow: hidden;
		border:3px solid #fff;
		height: 80px; width: 80px;
		margin-bottom: 15px;
		display: inline-block;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		background-position: center center;
	}

/** FONTS **/
	.evcal_evdata_row .evcal_evdata_cell p, #evcal_list .eventon_list_event p.no_events{
		font-family:'open sans',georgia
	}
	.evo_data_val{
		color: #656565;
		font-family:'open sans',georgia;
		font-style: italic;
		font-size: 13px;
	}

/* helper item styles */
	/* yes no button */
		.ajde_yn_btn {
		  background-color: #C3C3C3;
		  height: 26px;
		  width: 68px;
		  overflow: hidden;
		  display: inline-block;
		  border: 1px solid #aaa;
		  border-bottom: 3px solid #aaa;
		  cursor: pointer;
		  border-radius: 4px;
			-webkit-box-sizing: border-box;
    		-moz-box-sizing: border-box;
    		box-sizing: border-box;
    		position: absolute;
		}
		.ajde_yn_btn:hover{border-bottom-width: 2px;margin-top: 1px;}
		.ajde_yn_btn:hover .catchHandle{background-color: #fff;}
		.ajde_yn_btn.NO{background-color: #fff;
			border-color: #d9d7d7;
		}
		.ajde_yn_btn.absolute{position: absolute;}
		.ajde_yn_btn_label{padding-left: 80px; line-height: 1.8;}
		.ajde_yn_btn .btn_inner:before,.ajde_yn_btn .btn_inner:after, .btn_inner em{
			top: 0;
			position: absolute;		
			padding: 4px 8px;
			line-height: 90%;
		}
		.ajde_yn_btn .btn_inner:before, .btn_inner em.no{
			left: 0;color: #A0A0A0;
		}
		.ajde_yn_btn .btn_inner:after, .btn_inner em.yes{
			right: 0;
			color: #fff;
			padding-right: 8px;
		}
		.ajde_yn_btn .btn_inner{
			position: relative;
			padding-left: 42px;
			padding-right: 42px;
			padding-top: 0;
			height: 22px;
			width: 110px;
			display: block;
			margin-left: -43px;
		}	
			.ajde_yn_btn.NO .btn_inner{margin-left: 0px;}
		.catchHandle, .yesno_row .catchHandle{
			border-left: 1px solid #d9d7d7;
			border-right: 1px solid #AEAEAE;
			background-color: #f0efef;
			height: 22px;
			padding-top: 4px;
			width: 26px;
			display: block;
			padding-left: 0;
		}
		.catchHandle:before, .yesno_row .catchHandle:before{
			content:"";
			border-left: 2px solid #d9d7d7;
			border-right: 2px solid #d9d7d7;
			height: 13px;
			width: 4px;
			display: block;
			margin-left: 8px;
		}
		.ajde_yn_btn .btn_inner, .catchHandle {
			-webkit-transition: all .2s ease;
			-moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			-o-transition: all .2s ease;
			transition: all .2s ease;
		}
		.evomb_body .ajde_yn_btn{border-color:#666666;}
		.evomb_body .catchHandle{border-color:#9B9B9B;}
		.yesno_row span.field_name, .yesno_row label{	padding-left: 80px; line-height: 1.8;}
		.yesno_row .ajde_yn_btn {
		  	position: absolute;
		  	padding: 0;
		}

/* for JQuery Mobile */
	.ui-loading .ui-loader { display: none; }
	.ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }

/*-- Responsive --*/
@media (max-width: 480px){
	.ajde_evcal_calendar #evcal_loader{height:1px; width:1px}
	.ajde_evcal_calendar .calendar_header p{font-size:24px;}
	#evcal_sort_bar ul{	padding-left:10px}
	.event_description .evcal_col50{
		width:100%; float:none;
		border-bottom: 1px solid #CDCDCD;
		border-right: none;
	}
	.event_description .evcal_col50 .bordr{border-right:none}	
	.evorow .tb .evcal_col50{	float:none; display:block;}
	.evo_metarow_time_location .evcal_col50{
		width: 100%;
		border-bottom: 1px solid #cdcdcd;
	}

	.evo_popup .evcal_evdata_row .evcal_evdata_cell h3,.evo_popup .evo_clik_row .evo_h3{
		font-size: 12px;
	}
	.evcal_evdata_row .evcal_evdata_cell{padding-left: 38px;}
	#evcal_list .evorow.getdirections .evoInput, .evo_pop_body .evorow.getdirections .evoInput{
		font-size: 13px;
	}
	#evcal_list .eventon_list_event .event_description p, #evcal_list .eventon_list_event .event_description li, .evo_pop_body .evcal_evdata_row .evcal_evdata_cell p{
		font-size: 12px;
	}

	/* lightbox */
	.evo_lightbox {padding-right: 0; padding-left: 0;}
	.evo_lightbox_content {width: 90%;}

	/* cancelled event text */
	.eventon_events_list .eventon_list_event .cancel_event .evo_event_headers{padding: 1px 5px; font-size: 10px;}

	/* jumper */	
	.ajde_evcal_calendar .calendar_header .evo_j_dates p.legend{font-size: 11px;}
}
@media only screen and (max-device-width : 480px){
	.ajde_evcal_calendar .calendar_header p{
		font-size:26px;
	}
	#evcal_sort_bar ul{padding-left:10px}
}
@media (max-width: 1024px){
.evcal_evdata_img {max-height: 341px !important; }
}
@media (max-width: 768px){
.evcal_evdata_img {max-height: 255px !important; }
}
@media (max-width: 568px){
.evcal_evdata_img {max-height: 189px !important; }
}
@media (max-width: 480px){
.evcal_evdata_img {max-height: 106px !important; }
}