<md-dialog>

<form ng-cloak onload="initAutocomplete();">
  <input type="hidden" id="eventId" value="{{event.id}}">
  <input type="hidden" id="userId" value="{{userid}}">
<input id="pac-input" type="text" name="address" class="form-control" value="{{event.address}}" required>
  <div style="width: 650px; margin: 0 auto;">
    <div class="evo_lightbox_body evo_pop_body ">
      
        <div class="evopop_top" style="border-left: 3px solid rgb(180, 118, 201);">
          <span class="evcal_cblock " style="left: auto;">
            <em class="evo_date">
              <span class="start">
                29
                <em>sep</em>
              </span>
              <span class="end">
                - 3
                <em>oct</em>
              </span>
            </em>

            <em class="evo_time">
              <em class="evo_day">
                sep 29
              </em>
              <span class="start">1:00 am</span>
              <em class="evo_day end">oct 3</em>
            </em>

            <em class="clear"></em>
          </span>

          <span class="evcal_desc evo_info ">
            <!-- <span class="evcal_desc2">{{event.name}}</span> -->
            <input type="text" name="name" class="form-control" value="{{event.name}}" required>
            <span class="evcal_desc_info">
              <em>
                <i class="fa fa-clock-o" ></i>
                (september 29) 1:00 am - (october 3) 8:00 pm
              </em>
              <em>
                <i class="fa fa-map-marker"></i>
                {{event.address}}
              </em>
            </span>
            <span class="evcal_desc3"></span>
          </span>
          <em class="clear"></em>
        </div>

        <div class="evcal_evdata_row bordb evcal_event_details">
          <span class="evcal_evdata_icons">
            <i class="fa fa-bullhorn" ></i>
          </span>
          <div class="evcal_evdata_cell ">
            <div>
              <h3 class="padb5 evo_h3">Host</h3>
              <div class="eventon_desc_in">
                <p>{{event._user.visa}}</p>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>

        <div class="evcal_evdata_row bordb evcal_event_details">
          <span class="evcal_evdata_icons">
            <i class="fa fa-align-justify"></i>
          </span>
          <div class="evcal_evdata_cell ">
            <div>
              <h3 class="padb5 evo_h3">Event Details</h3>
              <div class="eventon_desc_in">
                <!-- <p>{{event.content}}</p> -->
                <textarea name="content" class="form-control" rows="8" required>{{event.content}}</textarea>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>

        <div class="evo_metarow_time_location bordb ">
          <div class="tb">
            <div class="tbrow">
              <div class="evcal_col50 bordr">
                <div class="evcal_evdata_row evo_time"  style="height: 100px;">
                  <span class="evcal_evdata_icons"><i class="fa fa-clock-o"></i></span>
                  <div class="evcal_evdata_cell">
                    <h3 class="padb5 evo_h3">Time</h3>
                    <p>September 29 (Thursday) 1:00 am - October 3 (Monday) 8:00 pm</p>
                  </div>
                </div>
              </div>
              <div class="evcal_col50">
                <div class="evcal_evdata_row evo_location" style="height: 100px;">
                  <span class="evcal_evdata_icons"><i class="fa fa-map-marker"></i></span>
                  <div class="evcal_evdata_cell" data-loc_tax_id="7">
                    <h3 class="padb5 evo_h3">Location</h3>
                    <!-- <p class="evo_location_name">Kngston Town</p> -->
                    <!-- <p>{{event.address}}</p> -->
                    <input id="pac-input" type="text" name="address" class="form-control" value="{{event.address}}" required>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="evcal_evdata_row bordb evcal_event_details" style="height: 300px; width: 100%; padding: 0px;">
          <div id="map"></div>
          
        </script>
      </div>
      <div class="evcal_evdata_row bordb evcal_event_details">
        <span class="evcal_evdata_icons">
          <i class="fa fa-align-justify"></i>
        </span>
        <div class="evcal_evdata_cell ">
          <div>
            <h3 class="padb5 evo_h3">Event Details</h3>
          </div>
        </div>
        <button type="submit" class="btn btn-default">Update</button>
      </div>

    <div class="evcal_evdata_row bordb evcal_event_details" style="height: 300px; width: 100%; padding: 0px;">
      <ul class="pages">
        <li class="chat page">
          <div class="chatArea">
            <ul class="messages">
              {% for comment in comments %}
              <li class='message' style='display: list-item; padding: 5px 0px 0px 10px;'>
                <span class='username'>{{comment._user.visa}}</span>
                <span class='messageBody'>{{comment.content}}</span>
              </li>
              {% endfor %}
            </ul>
          </div>
          <input class="form-control" placeholder="Type here..."/>
        </li>
      </ul>
    </div>

  </div>
</div>

</form>
</md-dialog>