{% extends 'layout.html' %}

{% block content %}
<script>
            function initAutocomplete() {
              if (document.getElementById('map') != null) {
              var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 10.79845, lng: 106.7220053},
                zoom: 13,
                mapTypeId: 'roadmap'
              });

              var input = document.getElementById('pac-input');
              var searchBox = new google.maps.places.SearchBox(input);

              map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
              });

              var markers = [];
              searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                  return;
                }

                markers.forEach(function(marker) {
                  marker.setMap(null);
                });
                markers = [];

                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                  if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                  }
                  var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                  };

                  markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                  }));

                  if (place.geometry.viewport) {
                    bounds.union(place.geometry.viewport);
                  } else {
                    bounds.extend(place.geometry.location);
                  }
                });
                map.fitBounds(bounds);
              })};
            }
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN66QFaETYXOjp6fLUEGEwBeDixc2xX5A&libraries=places&callback=initAutocomplete"
          async defer>
          </script>
 <div style="visibility: hidden">
    <div class="md-dialog-container" id="myDialog">
      <md-dialog layout-padding>
      </md-dialog>
    </div>
  </div>
<div id="evcal_list" class="eventon_events_list ">
  {% for event in events %}

  <div class="eventon_list_event ">
    <p class="desc_trig_outter">
    <a class="sin_val evcal_list_a" ng-click="getEvent($event, '{{event.id}}' )">
        <span class="evcal_cblock ">
          <em class="evo_date">
            <span class="start">
              4
              <em>aug</em>
            </span>
          </em>
          <em class="evo_time">
            <span class="start">8:00 am</span>
            <span class="end">- 10:00 am</span>
          </em>
        </span>
        <span class="evcal_desc ">
          <span class="evcal_desc2 evcal_event_title event_name">{{event.name}}</span>
          <span class="evcal_desc_info">
            <em style="display: block; font-style: normal;">
              <i class="fa fa-bullhorn" aria-hidden="true" style="width: 15px;"></i>
              {{event._user.visa}}
            </em>

            <em style="display: block; font-style: normal;">
              <i class="fa fa-clock-o" aria-hidden="true" style="width: 15px;"></i>
              8:00 am - 10:00 am
            </em>

            <em style="display: block; font-style: normal; ">
              <i class="fa fa-map-marker" aria-hidden="true" style="padding-left: 1px; width: 14px;"></i>
              {{event.address}}
            </em>

            <em style="display: inline-block; font-style: normal; padding-right: 40px;">
              <i class="fa fa-group" aria-hidden="true" style="width: 15px;"></i>
              25 people
            </em>

            <em style="display: inline-block; font-style: normal; ">
              <i class="fa fa-comments" aria-hidden="true" style="width: 15px;"></i>
              25 comments
            </em>

          </span>
        </span>
      </a>
    </p>
  </div>
  {% endfor %}

         
  

  <div class="clear"></div>
</div>

<script type="text/javascript">
  var COLORS = [
  '#e21400', '#91580f', '#f8a700', '#f78b00',
  '#58dc00', '#287b00', '#a8f07a', '#4ae8c4',
  '#3b88eb', '#3824aa', '#a700ff', '#d300e7'
  ];
  var hash = 7;
  $('.eventon_list_event').each(function(i) {
    var username = $('.event_name', this).html();
    for (var i = 0; i < username.length; i++) {
     hash = username.charCodeAt(i) + (hash << 5) - hash;
   }
    // Calculate color
    var index = Math.abs(hash % COLORS.length);
    $(this).css('background-color', COLORS[index]);
  });
</script>

{% endblock %}