<!DOCTYPE html>
<html ng-app="eventApp">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' />
  <link rel="stylesheet" type="text/css" href="https:/fonts.googleapis.com/css?family=Oswald" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css">

  <link href="/stylesheets/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
  <!-- <link href="/stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css"> -->
  <link href="/stylesheets/main.css" media="all" rel="stylesheet" type="text/css">
  <link href="/stylesheets/style.css" rel="stylesheet">

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/js/main.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

  <script type="text/javascript" src="/js/core.js"></script>
  <script type="text/javascript" src="/js/controllers/eventController.js"></script>
  <script type="text/javascript" src="/js/services/eventService.js"></script>

  <style>
    html          { overflow-y:scroll; }
    body          { padding-top:10px; }
    #todo-list        { margin-bottom:30px; }
    #todo-form        { margin-bottom:50px; }
    .dialogdemoBasicUsage #popupContainer {
      position: relative; }

    .dialogdemoBasicUsage .footer {
      width: 100%;
      text-align: center;
      margin-left: 20px; }

    .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
      font-size: 0.8em;
      margin-top: 50px; }

    .dialogdemoBasicUsage button {
      width: 200px; }

    .dialogdemoBasicUsage div#status {
      color: #c60008; }

    .dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
      margin-bottom: 0; }
  </style>

</head>
<body ng-controller="mainController" ng-cloak>

  <div class="container">

  <div class="ajde_evcal_calendar boxy box_3">
    {% block title %}
    <div class="event_header">
      <div id="evcal_head" class="calendar_header ">
        <p id="evcal_cur" class="evo_month_title" style="  color: #C6C6C6;  font-family: oswald, 'arial narrow';">august, 2016</p>
        <p class="evo_arrows">
          <span id="evcal_prev" class="evcal_arrows evcal_btn_prev">
            <i class="fa fa-angle-left"></i>
          </span>
          <span id="evcal_next" class="evcal_arrows evcal_btn_next">
            <i class="fa fa-angle-right"></i>
          </span>
        </p>
      </div>

      <div class="eventon_sorting_section" style="display: block;">
        <div class="eventon_sort_line">
          <div class="evo_srt_sel">
            <p>Top 10 events</p>
          </div>

          <div class="clear"></div>
        </div>

        <div class="eventon_filter_line eventon_sort_line">
          <div class="evo_srt_sel">
            <p>Top 10 comments</p>
          </div>
          <div class="clear"></div>
        </div>

        <div class="eventon_filter_line">
          <div class="eventon_filter">
            <div class="eventon_sf_field">
              <p>Category:</p>
            </div>

            <div class="eventon_filter_selection">
              <p class="filtering_set_val">All</p>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <form class="navbar-form navbar-left" style="margin: 0">
          <div class="form-group">
            <input type="text" class="form-control" style="height: 22px;" placeholder="">
          </div>
          <i class="fa fa-search"></i>
        </form>

        <div class="pull-right" style="margin-right: 10px;">
          <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#addNewEventModal">
            <i class="fa fa-edit"></i> New Event
          </a>
          <div class="modal fade" id="addNewEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <form method="post" action="/events" class="form-inline">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add new event</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label>Event name</label>
                      <input type="text" name="name" class="form-control" required>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-default">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    {% endblock%}
    {% block content %}
    {% endblock %}
  </div>
  </div>
</body>
</html>