{% extends 'layout.html' %}

{% block title %}
<div class="event_header">
  <input type="hidden" id="year" value="{{year}}">
  <input type="hidden" id="month" value="{{month}}">
  <div id="evcal_head" class="calendar_header ">
    <p id="evcal_cur" class="evo_month_title" style="  color: #C6C6C6;  font-family: oswald, 'arial narrow';">august, 2016</p>
    <p class="evo_arrows">
      <a id='previousMonth' href="/events/searchFrom/{{previousYear}}/{{previousMonth}}"><span id="evcal_prev" class="evcal_arrows evcal_btn_prev">
        <i class="fa fa-angle-left"></i>
      </span></a>
      <a id='nextMonth' href="/events/searchFrom/{{nextYear}}/{{nextMonth}}"><span id="evcal_next" class="evcal_arrows evcal_btn_next">
        <i class="fa fa-angle-right"></i>
      </span></a>
    </p>
  </div>

  <div class="eventon_sorting_section" style="display: block; height: 38px;">
    <div class="eventon_sort_line">
      <div class="evo_srt_sel">
        <p>Top 10 events</p>
      </div>

      <div class="clear"></div>
    </div>

    <div class="eventon_filter_line eventon_sort_line">
      <div class="evo_srt_sel">
        <p>Top 10 comments</p>
      </div>
      <div class="clear"></div>
    </div>

    <div class="eventon_filter_line">
      <div class="eventon_filter">
        <div class="eventon_sf_field">
          <p>Category:</p>
        </div>

        <div class="eventon_filter_selection">
          <p class="filtering_set_val">All</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>

  <div>

    <form class="navbar-form navbar-left" style="padding-left: 0px; margin-top: 0px; margin-bottom: 10px;">
      <span style="font-family: 'open sans'; margin-right: 5px; color: #B8B8B8; font-size: 12px;">QUICK SEARCH: </span>
      <div class="form-group">
        <input id ='quickSearchText' type="text" class="form-control" placeholder="" name='quickSearchText' value='{{quickSearchText}}'>
      </div>
      <a id='quickTextSearchLink' class="sin_val evcal_list_a" href="/events/"><i class="fa fa-search" style="color: #B8B8B8;"></i></a>
    </form>

    <div class="pull-right" style="margin-right: 10px;">
      <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#addNewEventModal">
        <i class="fa fa-edit"></i> New Event
      </a>
      <div class="modal fade" id="addNewEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form method="post" action="/events" class="form-inline">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add new event</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Event name</label>
                  <input type="text" name="name" class="form-control" required>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-default">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
{% endblock%}

{% block content %}

<div id="evcal_list" class="eventon_events_list ">
  {% for event in events %}  

  <div class="eventon_list_event ">  
    <p class="desc_trig_outter">
      <a class="sin_val evcal_list_a" href="/events/event/{{event.id}}">
        <span class="evcal_cblock ">
          <em class="evo_date">
            <span class="fullStartDate" style="display:none;">{{ event.start_date|date('Y-m-d') }}</span>
            <span class="start">
              {{ event.start_date|date("d") }}
              <em>{{ event.start_date|date("M") }}</em>
            </span>
          </em>
        </span>
        <span class="evcal_desc ">
          <span class="evcal_desc2 evcal_event_title event_name">{{event.name}}</span>
          <span class="evcal_desc_info">
            <em style="display: block; font-style: normal;">
              <i class="fa fa-bullhorn" aria-hidden="true" style="width: 15px;"></i>
              {{event._user.visa}}
            </em>

            <em style="display: block; font-style: normal;">
              <i class="fa fa-clock-o" aria-hidden="true" style="width: 15px;"></i>
              {{ event.start_date|date("g:i a") }} - {{ event.end_date|date("g:i a") }}
            </em>

            <em style="display: block; font-style: normal; ">
              <i class="fa fa-map-marker" aria-hidden="true" style="padding-left: 1px; width: 14px;"></i>
              {{event.address}}
            </em>

            <em style="display: inline-block; font-style: normal; padding-right: 40px;">
              <i class="fa fa-group" aria-hidden="true" style="width: 15px;"></i>
              25 people
            </em>

            <em style="display: inline-block; font-style: normal; ">
              <i class="fa fa-comments" aria-hidden="true" style="width: 15px;"></i>
              {{event.countComment}} comments
            </em>

          </span>
        </span>
      </a>
    </p>
  </div>

  {% endfor %}
  <div class="clear"></div>
</div>

<script type="text/javascript">
  
  var monthNames = [
      "January", "February", "March",
      "April", "May", "June", "July",
      "August", "September", "October",
      "November", "December"
    ];

  var currentDate = new Date();

  $('.eventon_list_event').each(function(i) {

    var startDay = new Date($(this).find('.fullStartDate').text()).getDate();

    if (startDay < currentDate.getDate()) {
      $(this).css('background-color', '#c7c2c2');
    } else if (startDay == currentDate.getDate()) {
      $(this).css('background-color', '#ed705a');
    } else if (startDay <= currentDate.getDate() + 7) {
      $(this).css('background-color', '#fad541');
    } else {
      $(this).css('background-color', '#93c284');
    }
  });

  $('#evcal_cur').html(function() {
      currentDate.setMonth($('#month').val());
      currentDate.setFullYear($('#year').val());
      currentDate.setMonth(currentDate.getMonth());
      return monthNames[currentDate.getMonth()] + ', ' + currentDate.getFullYear();
  });

  $('#quickSearchText').on('change keydown paste input', function(){
      $('#quickTextSearchLink').attr('href', '/events?quickSearchText=' + $('#quickSearchText').val());
      if ($('#quickSearchText').val() == '') {
        $('#quickTextSearchLink').attr('href', '/events');
      }
  });

</script>

{% endblock %}
