{% extends 'layout.html' %}

{% block content %}

<div class="container">
<style>
</style>
	<input type="hidden" id="eventId" value="{{event.id}}">
	<input type="hidden" id="userId" value="{{userid}}">

	<div style="width: 680px; margin: 0 auto; padding-bottom: 40px;">
		<div class="evo_lightbox_body evo_pop_body ">
			<form method="post" action="/events/event/{{event.id}}?_method=PUT">
				<div class="evopop_top" style="border-left: 3px solid rgb(180, 118, 201);">
					<input type="hidden" id="latInput" name="latInput" value="{{event.lat}}">
					<input type="hidden" id="lngInput" name="lngInput" value="{{event.lng}}">

					<div style="margin-left: 62px; margin-bottom: -54px;">
		    			<img src="/icon/pizza.png" style="max-height: 65px; width: 65px;"/>
		    		</div>

					<span class="evcal_cblock " style="left: auto;">
						<em class="evo_date">
							<span class="start">
								{{ event.start_date|date("d") }}
								<em>{{ event.start_date|date("M") }}</em>
							</span>
							<!--span class="end">
								- 3
								<em>oct</em>
							</span-->
						</em>
						<em class="clear"></em>
					</span>

					<span class="evcal_desc evo_info ">
						<!-- <span class="evcal_desc2">{{event.name}}</span> -->
						<input type="text" name="name" class="form-control" value="{{event.name}}" required>
						<span class="evcal_desc_info" style="margin-top: 5px;">
							<em style="margin-right: 5px;">
								<i class="fa fa-bullhorn" ></i>
								{{event._user.visa}}
							</em>
							<em style="margin-right: 5px;">
		    					<i class="fa fa-clock-o" ></i>
		    					{{ event.start_date|date('M d, Y g:i a') }} -
		    					{{ event.end_date|date('M d, Y g:i a') }}
		    				</em>
		    				<em>
		    					<i class="fa fa-map-marker"></i>
		    					{{event.address}}
		    				</em>
						</span>
						<span class="evcal_desc3"></span>
					</span>

					<em class="clear"></em>
				</div>

				<div class="evcal_evdata_row bordb evcal_event_details">
					<span class="evcal_evdata_icons">
						<i class="fa fa-align-justify"></i>
					</span>
					<div class="evcal_evdata_cell ">
						<div>
							<h3 class="padb7 evo_h3">Event Details</h3>
							<div class="eventon_desc_in">
								<textarea name="content" class="form-control" rows="8">{{event.content}}</textarea>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>

				<div class="evo_metarow_time_location bordb ">
					<div class="tb">
						<div class="tbrow">
							<div class="evcal_col50 bordr">
								<div class="evcal_evdata_row evo_time"  style="height: 100px;">
									<span class="evcal_evdata_icons"><i class="fa fa-clock-o"></i></span>
									<div class="evcal_evdata_cell">
										<h3 class="padb7 evo_h3">Time</h3>
										<input id="startDateTime" type="text" class="datetimepicker form-control" name='startDateTime' required/> -
										<input id="endDateTime" type="text" class="datetimepicker form-control" name='endDateTime' />
									</div>
								</div>
							</div>
							<div class="evcal_col50">
								<div class="evcal_evdata_row evo_location" style="height: 100px;">
									<span class="evcal_evdata_icons"><i class="fa fa-map-marker"></i></span>
									<div class="evcal_evdata_cell" data-loc_tax_id="7">
										<h3 class="padb7 evo_h3">Location</h3>
										<input id="pac-input" type="text" name="address" class="form-control" value="{{event.address}}" >
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="evcal_evdata_row bordb evcal_event_details" style="height: 300px; width: 100%; padding: 0px;">
					<div id="map"></div>
					<script>
						function initAutocomplete() {
							jQuery('#startDateTime').datetimepicker({
								format:'m/d/Y H:i',
								{% if event.start_date %}
								value: "{{ event.start_date|date('M/d/Y H:i') }}"
								{% else %}
								value: ""
								{% endif %}
							});

							jQuery('#endDateTime').datetimepicker({
								format:'m/d/Y H:i',
								{% if event.start_date %}
								value: "{{ event.end_date|date('M/d/Y H:i') }}"
								{% else %}
								value: ""
								{% endif %}
							});

							var latInput = 10.79845;
							if ($('#latInput').val() != '') latInput = Number($('#latInput').val());
							var lngInput = 106.7220053;
							if ($('#lngInput').val() != '') lngInput = Number($('#lngInput').val());

							var map = new google.maps.Map(document.getElementById('map'), {
								center: {lat: latInput, lng: lngInput},
								zoom: 13,
								mapTypeId: 'roadmap'
							});

							var input = document.getElementById('pac-input');
							var searchBox = new google.maps.places.SearchBox(input);

							map.addListener('bounds_changed', function() {
								searchBox.setBounds(map.getBounds());
							});

							var markers = [];

							var marker = new google.maps.Marker({
								map: map,
								position: new google.maps.LatLng(latInput, lngInput)
							});
							marker.addListener('click', function() {
					          $('#latInput').val(marker.getPosition().lat());
					          $('#lngInput').val(marker.getPosition().lng());
					          map.setCenter(marker.getPosition());
					        });

							markers.push(marker);

							searchBox.addListener('places_changed', function() {
								var places = searchBox.getPlaces();

								if (places.length == 0) {
									return;
								}

								markers.forEach(function(marker) {
									marker.setMap(null);
								});
								markers = [];

								var bounds = new google.maps.LatLngBounds();
								places.forEach(function(place) {
									if (!place.geometry) {
										console.log("Returned place contains no geometry");
										return;
									}
									var icon = {
										url: place.icon,
										size: new google.maps.Size(71, 71),
										origin: new google.maps.Point(0, 0),
										anchor: new google.maps.Point(17, 34),
										scaledSize: new google.maps.Size(25, 25)
									};
									var marker = new google.maps.Marker({
										map: map,
										icon: icon,
										title: place.name,
										position: place.geometry.location
									});
									marker.addListener('click', function() {
									          $('#latInput').val(marker.getPosition().lat());
									          $('#lngInput').val(marker.getPosition().lng());
									          map.setCenter(marker.getPosition());
									        });

									markers.push(marker);

									if (place.geometry.viewport) {
										bounds.union(place.geometry.viewport);
									} else {
										bounds.extend(place.geometry.location);
									}
								});
								map.fitBounds(bounds);
							});
						}
					</script>
					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN66QFaETYXOjp6fLUEGEwBeDixc2xX5A&libraries=places&callback=initAutocomplete"
					async defer>
				</script>
			</div>

			<div class="evcal_evdata_row bordb evcal_event_details">
			<span class="evcal_evdata_icons">
				<i class="fa fa-group"></i>
			</span>
			<div class="evcal_evdata_cell ">
				<div>
					<h3 class="evo_h3" style="margin-bottom: 15px;">10 Participants</h3>
					<div>
						<div class="user pull-left" style="background-image:url('https://mysites.svc.elca.ch:443/User Photos/Profile Pictures/taq_MThumb.jpg')">
						</div>
						<div class="user pull-left" style="background-image:url('https://mysites.svc.elca.ch:443/User Photos/Profile Pictures/svn_MThumb.jpg')">
						</div>
						<div class="user pull-left" style="background-image:url('https://mysites.svc.elca.ch:443/User Photos/Profile Pictures/hpt_MThumb.jpg')">
						</div>
						<div class="user" style="background-image:url('/icon/avatar.png')">
						</div>
						<div class="user" style="background-image:url('/icon/avatar.png')">
						</div>
						<div class="user" style="background-image:url('/icon/avatar.png')">
						</div>
						<div class="user" style="background-image:url('/icon/avatar.png')">
						</div>
						<div class="user" style="background-image:url('/icon/avatar.png')">
						</div>
						<div class="user" style="background-image:url('/icon/avatar.png')">
						</div>
						<div class="user" style="background-image:url('/icon/avatar.png')">
						</div>
						<div class="user" style="background-image:url('/icon/avatar.png')">
						</div>
						<div class="user" style="background-image:url('/icon/avatar.png')">
						</div>
						<div class="user" style="background-image:url('/icon/avatar.png')">
						</div>
						<div class="user" style="background-image:url('/icon/avatar.png')">
						</div>
						<div class="user" style="background-image:url('/icon/avatar.png')">
						</div>
						<div class="user" style="background-image:url('/icon/avatar.png')">
						</div>
						<div class="user">
							<button type="button"
									class="fa fa-plus-circle"
									data-toggle="modal"
									data-target="#personSelectionModel"
									style="color: #93c284; font-size: 36px; background-color: transparent; border: none; background-image: none; margin-top: -2px; margin-left: -5px; position: absolute;">
							</button>
						</div>

						<!-- Modal -->
						<div id="personSelectionModel" class="modal fade" role="dialog">
						  <div class="modal-dialog">

						    <!-- Modal content-->
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal">&times;</button>
						        <h4 class="modal-title">Person Selection</h4>
						      </div>
						      <div class="modal-body">
										<div class="input-group add-on">
											 <input class="form-control" placeholder="Search By Emails" name="srch-term" id="srch-term" type="text" style="height: 35px;">
											 <div class="input-group-btn">
												 <button class="btn btn-default" type="submit" style="height: 35px;"><i class="glyphicon glyphicon-search"></i></button>
											 </div>
										 </div>
										<div style="clear: both; height: 10px;"></div>
										<style>
										.toggle.android { border-radius: 0px;}
										.toggle.android .toggle-handle { border-radius: 0px; }
										.android {border-radius: 0px; border: none;}
										</style>

										<div style="width:180px; float: left;">
											<div class="user pull-left" style="background-image:url('https://mysites.svc.elca.ch:443/User Photos/Profile Pictures/taq_MThumb.jpg')"></div>
											<div class="pull-left" style="margin-top: 3px;">
													<input type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" email="taq@elca.vn">
											</div>
										</div>
										<div style="width:180px; float: left;">
											<div class="user pull-left" style="background-image:url('https://mysites.svc.elca.ch:443/User Photos/Profile Pictures/svn_MThumb.jpg')"></div>
											<div class="pull-left" style="margin-top: 3px;">
													<input type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" email="svn@elca.vn">
											</div>
										</div>
										<div style="width:180px; float: left;">
											<div class="user pull-left" style="background-image:url('https://mysites.svc.elca.ch:443/User Photos/Profile Pictures/hpt_MThumb.jpg')"></div>
											<div class="pull-left" style="margin-top: 3px;">
													<input type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" email="hpt@elca.vn">
											</div>
										</div>
										<div style="clear: both; height: 10px;"></div>
										<div style="width:180px; float: left;">
											<div class="user pull-left" style="background-image:url('https://mysites.svc.elca.ch:443/User Photos/Profile Pictures/ppn_MThumb.jpg')"></div>
											<div class="pull-left" style="margin-top: 3px;">
													<input type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" email="ppn@elca.vn">
											</div>
										</div>

										<div class="clear"></div>
						      </div>
						      <div class="modal-footer">
										<script>
											function invite(id) {
												var emails = '';
												$("div[class$='btn-info'] > input[type='checkbox']").each(function(){
													emails += $(this).attr("email")+",";
												});
												emails = emails.substr(0, emails.length-1);
												if(emails != ''){
													window.location = "http://localhost:8080/mail/"+emails+"/"+id;
												}
											}
										</script>
						        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="invite('{{event.id}}');">Invite</button>
						      </div>
						    </div>
						  </div>
						</div>

						<!-- Logical, visible only when a participant open this page -->
						<!--
						<div class="user" style="float:right;">
							<button type="button"
									class="fa fa-minus-circle"
									data-toggle="modal"
									data-target="#personSelectionModel"
									style="color: #ed705a; font-size: 36px; position: absolute;">
							</button>
						</div>
					-->
					</div>
					<div class="clear" style="margin-bottom:30px;"></div>
				</div>
			</div>
		</div>

			<div class="evcal_evdata_row evcal_event_details">
				<span class="evcal_evdata_icons">
					<i class="fa fa-comments"></i>
				</span>
				<div class="evcal_evdata_cell ">
					<div>
						<h3 class="padb7 evo_h3" id='commentLength'>{{comments.length}} Comments</h3>
					</div>
				</div>

				<div class="padb7">
					<textarea rows="3" class="form-control inputMessage" placeholder="Type your comment here..."></textarea>
				</div>

				<button id="postButton" type="button" class="btn btn-default">Post Comment</button>

				<button type="submit" class="btn btn-default">Update</button>

				<button type="submit" class="btn btn-default" form="deleteForm">Delete</button>

				<button type="button" class="btn btn-default" onclick="location.href='/events'">Cancel</button>

			</div>
		</form>
		<form id="deleteForm" method="post" action="/events/event/{{event.id}}?_method=DELETE" class="form-inline">
			</form>
<style>

.message {
	margin-bottom: 15px;
    padding: 0;
}

.messageBody {
    position: relative;
    background: #fff;
    padding: 6px;
    margin-left: 52px;
    border: 1px solid #e5e5e5;
    font-size: 13px;
}

.user {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 5px;
}

.buttons:hover {
    opacity: 0.5;
}

.form-control.datetimepicker {
	display: inline-block;
	width: 118px;
}

.messageDateTime {
	color: #2481BF;
}
</style>

		<div class="evcal_evdata_row bordb evcal_event_details" style="height: 300px; width: 100%; padding: 0px;">
			<ul class="pages">
				<li class="chat page">
					<div class="chatArea">
						<ul class="messages">
							{% for comment in comments %}
							<li class='message'>
								<div class="user pull-left" style="background-image:url('/icon/avatar.png')"></div>
								<div class="messageBody">
									<!--div class="messageDateTime">
										{{comment.created_at|date('d/M/Y g:i a')}}
									</div-->
									<div class="messageDateTime">
										14/10/2016, 10:00 am
									</div>

									{{comment.content}}
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</li>
			</ul>
		</div>

	</div>
</div>
</div>

{% endblock %}
