<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link href="/stylesheets/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
  <link href="/stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css">
  <link href="/stylesheets/main.css" media="all" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' />
  <link rel="stylesheet" type="text/css" href="https:/fonts.googleapis.com/css?family=Oswald" />
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.datetimepicker.full.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script src="/js/socket.io-1.4.5.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  
</head>
<body>
<style>
@media (min-width: 768px) {
  .container {
      width: 670px;
  }
}
@media (min-width: 992px) {
  .container {
      width: 670px;
  }
}
@media (min-width: 1200px) {
  .container {
      width: 870px;
  }
}

.evcal_evdata_row .evcal_evdata_icons i, .evcal_evdata_row .evcal_evdata_custometa_icons i {
    color: #6B6B6B;
    font-size: 18px;
}

.evcal_evdata_row .evcal_evdata_cell h3.evo_h3 {
    font-family: oswald, 'arial narrow';
}

.form-control {
    display: block;
    width: 100%;
    height: 26px;
    padding: 6px 7px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.padb7 {
    padding-bottom: 7px;
}

</style>
  <div class="container ajde_evcal_calendar boxy box_3">
    {% block title %}
    {% endblock%}
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
